/* layerPatch  个人中心文件夹弹层插件的样式补丁 */
.xubox_layer{border: 1px solid #d5d5d5; box-shadow: none;}
.xubox_title{background-color: #f0f0f0;}
.xubox_title em{font-size: 14px;color: #333;}
.xubox_close0{width: 20px;height: 20px;background: url(default/close_fc.png) no-repeat 0 0;}

.create-fileBtn{display: inline-block; width: 94px;height: 30px;padding-left: 44px; font-size: 14px;line-height: 30px; color: #fff; background: url(/template/images/sign/icon.png) no-repeat 20px 8px #ffba00;}

.ela_up{background-color: #ffba00;}


.ela .selectWrap .select2-container .select2-choice .select2-arrow b, .selectWrap .select2-container .select2-choice .select2-arrow b:hover{background: url(/template/images/ccard/d.png) no-repeat 0 50%;}

.xubox_layer .xubox_yes{width: 88px;height: 30px;line-height: 30px;color: #fff; background: url(/template/images/btn2.png) no-repeat 0 0;}
.xubox_layer .xubox_no{width: 88px;height: 30px;line-height: 30px;color: #333; background: url(/template/images/btn2.png) no-repeat 0 -30px;}


