#parse("/Head.html")
	<link rel="stylesheet" type="text/css" href="/template/style/findpwd/pwdrecovery.css">

	<!-- 主体 -->
	<div class="container">

		<div class="box">
			
			<div class="pwdrecovery-box">
				
				<h2 class="clearfix">
					<em>找回密码</em>
					<a href="http://www.ypindapei.com" title="返回首页">返回首页>></a>
				</h2>

				<div class="status-box">
					<img src="/template/img/statusBar4.gif" height="37" width="835">
				</div>

				<p class="pwdrecovery-success"><i></i>恭喜，新密码设置成功！</p>
				
				<span class="b btns-box step4">
					<button onclick="return_index()">返回首页</button>
				</span>

			</div>

		</div>

	</div>
	<!-- /主体 -->
    	
	<!--底部-->
    #parse("/Foot.html")

    <script type="text/javascript" src="/template/js/findpwd/step4.js"></script>