#parse("/head_index.html")
<link rel="stylesheet" type="text/css" href="/template/style/Article/error.css">
<div class="assist-page">
	<div class="page-details">
		<em>404 ERROR…</em>
		<strong>您要访问的文章已经被删除或者不存在。</strong>
		<p>我们还有其他精彩内容，请继续查看</p>
		<a href="http://www.ypindapei.com" title="衣品搭配">返回首页</a>
	</div>
    <div class="more-content">
		<h3></h3>
		<ul class="list-box">
             $!list
        </ul>
	</div>
</div>  
#parse("/foot_index.html")
<script>
    yo.focus('m-first-focus', 5000, 'foucsLeft', 'foucsRight');
    yo.equalHeight('dna_equalH');
</script>
