#parse("head_index.html")





		<div class="form1" style="position: relative;">
			<div style="position: absolute;left: 0;top:0;background: red;height:128px;width:128px;">
                <a href="http://www.hrenip.com/" target="_blank" title="红人爱品">
                    <img src="/template/img/首页5_03.jpg" style="width:100%;height: 100%;">
                </a>
            </div>
	        <!--<div class="left"><<</div>-->
		        <div id="MScroll" style="position:absolute;left:128px;top:0px;width:1012px;height: 126px;border-bottom:1px solid #c1282a;border-top:1px solid #c1282a;">            
		            <div id="inner">
		                <div class="Lunb">
		                    $!head_ad
		                </div>
		            </div>            
		        </div>
        	<div class="m-right">></div>
        </div>
    	




		<!-- 主体 -->
		<div class="content">
			<div class="box">

				

			
				
				<!-- 第一栏 -->
				<div class="g-content clearfix m-first">
					<div class="first clearfix">
						<div class="g-main fleft">
							<!-- focus begin -->
							<div class="g-focus" id="m-first-focus">
								<div class="foucs">
									$!head_lb
								</div>
								<a class="left " id="foucsLeft" href="javascript:;" target="_self"></a>
								<a class="right " id="foucsRight" href="javascript:;" target="_self"></a>
							</div>
							<!-- focus end -->
						</div>
						<div class="g-side fright">
							<!-- today begin -->
							<div class="today">
								<div class="title">今日热点</div>
								<div class="news" id="today_news">
									$!today_hot
								</div>
							</div>
							<!-- today end -->
						</div>
					</div>
					<div class="g-main fleft">
						<div class="manfirst_l">
							<div class="l">
								<div class="plan">
									$!head_lb_two
								</div>
							</div>
							<div class="r">
								<div class="news">
									<!--背景图片-->
									<div class="pic">
										$!head_lb_left_one
									</div>
									<div class="mask"></div>
									<div class="info">
										<!--<div class="title"><img src="http://p5.yokacdn.com/pic/YOKA/2016-02-16/U428P1TS1455589618_44964.png" alt="衣品搭配">
										</div>-->
										$!head_lb_left_one_title

										<ul class="f16">
                                            $!head_lb_left_one_article
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="g-side fright">
						<div class="ad_switch_pad">
							$!head_jrrd_img
						</div>
						<dl class="man_title_pub vdeo">
							<dt>精彩视频</dt>
							<dd><a href="javascript:void(0)" title="更多">更多<i>></i></a></dd>
						</dl>
						<div class="g-pic ad_vdeo">
							$!head_video
						</div>
					</div>
				</div>
					
				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="/hrzx" title="红人资讯">红人资讯</a></span>
					</div>
					<div class="links">
						$!son_hrzx
					</div>
				</div>
				
				<!-- 第二栏 -->
				<div class="g-content m-second">
					<div class="second clearfix">
						<div class="g-main fleft">
							<div class="g-pic big-g-pic">
                                $!head_hrzx
							</div>

							<div class="m-first-top">
                                $!head_hrzx_left_two

								<div class="news">
									<dl>
										<dt>
                                            $!head_hrzx_right_one
										</dt>
										<dd>$!head_hrzx_right_one_article_title_one</dd>
									</dl>
									<ul>
										$!head_hrzx_right_one_article
									</ul>
								</div>
							</div>
						</div>
						<div class="g-side fright">
							<div class="ad_first">
								<div class="ad_first_box">
									<div class="g-scrollThree" id="scrollThree_men">
										<div class="black_box_content">
											$!head_hrzx_lb
										</div>
										<div class="btn left" id="scrollThree_men_left"></div>
										<div class="btn right" id="scrollThree_men_right"></div>
									</div>
								</div>
								<ul>
									$!head_hrzx_lb_three_article_title
								</ul>
							</div>
							<div class="public_arrow_title">
								<span>最新文章</span>
							</div>
							<div class="entertainment_hot">
								<ul>
									$!today_hrzx
								</ul>
							</div>
							<div class="ad_first_r">
                                $!head_hrzx_right_one_article_img
							</div>
						</div>
					</div>
				</div>


				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="/hrzf" title="红人专访">红人专访</a></span>
					</div>
				</div>
				
				<!-- 第四栏 -->
				<div class="g-content m-third">
					<div class="third clearfix">
						<div class="g-main fleft">
							<div class="big-g-picShow">
                                $!head_hrzf
							</div>
							<div class="picShow clearfix">
                                $!head_hrzf_img_three
							</div>
						</div>
						<div class="g-side fright">
							<div class="sing-box">
								<h3>推荐红人</h3>
								<div class="eg">
                                    $!head_hrzf_img
								</div>
							</div>
							<div class="writer-box">
                                $!head_hrzf_img_right_img
								
							</div>
						</div>
					</div>
				</div>

                
				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="/hrzp" title="红人作品">红人作品</a></span>
					</div>
					<div class="links">
						$!son_hrzp
					</div>
				</div>

				<!-- 第三栏 -->
				<div class="g-content m-third">
					<div class="third clearfix">
						<div class="g-main fleft">
							<div class="big-g-picShow">
								$!head_hrzp
							</div>
							<div class="picShow clearfix">
                                $!head_hrzp_img_four
							</div>
							<div class="popular clearfix">
								$!foursbr

								<div class="most-popular">
									<ul>
										$!today_hrzf
									</ul>
								</div>
							</div>
						</div>
						<div class="g-side fright">
							<div class="trend_calendar">
								<h2 class="f22">热门</h2>
								<dl>
                                    $!head_hrzp_img
									
								</dl>
							</div>

							<div class="black_box">
								<div class="g-scollTwo" id="scrollTwo_men">
									<div class="black_box_content">
                                        $!head_hrzp_img_four_lb
									</div>
									<div class="btn left" id="scrollTwo_men_left"></div>
									<div class="btn right" id="scrollTwo_men_right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="/hrxz" title="红人写真">红人写真</a></span>
					</div>
					<div class="links">
						$!son_hrxz
					</div>
				</div>
				
				<!-- 第五栏 -->
				<div class="g-content clearfix m-fifth">
					<div class="shoppingShow" id="shoppingShow">
						<div class="left">
							<div class="g-scrollFour" id="scrollFour_men">
								<div class="black_box_content">
                                    $!head_hrxz_lb
								</div>
								<div class="btn left" id="scrollFour_men_left"></div>
								<div class="btn right" id="scrollFour_men_right"></div>
							</div>
						</div>
						<div class="right">
							<ul>
                                $!head_hrxz_lb_img_three

								<li class="other">
									$!head_hrxz_lb_img_right_two
								</li>

								$!sbr2_html
							</ul>
						</div>
					</div>
				</div>

				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="http://weiba.ypindapei.com" title="红人微吧" target="_blank">红人微吧</a></span>
					</div>
					<div class="links">
						$!head_weiba_son
					</div>
				</div>

				<!-- 第六栏 -->
				<div class="g-content m-sixth">
					<!-- 广告 -->
					<div class="g-ads-sixth clearfix">
						<div class="mask">
                            $!head_weiba_img_three
						</div>
					</div>
					<div class="g-content-box clearfix">
						<div class="g-main fleft bbs-psx">
							$!head_weiba_img_three_wb_four
						</div>
						<div class="g-side fright bbs-sidepsx">
							<h3>热门</h3>
							<div class="btn">
								<h5><a href="http://weiba.ypindapei.com" title="更多" target="_blank">更多 &gt;</a></h5>
							</div>
							<div class="sbox">
								<div class="ad_first_box">
									<div id="scrollSix_men" class="g-scrollSix">
										<div class="black_box_content">
											$!head_weiba_lb
										</div>
										<div id="scrollSix_men_left" class="btn left"></div>
										<div id="scrollSix_men_right" class="btn right"></div>
									</div>
								</div>
								<h4 style="margin-top:10px;"></h4> 
								<ul>
									$!weiba_article
								</ul> 
							</div>
						</div>
					</div>
				</div>

				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="http://www.hrenip.com" title="红人爱品" target="_blank">红人爱品</a></span>
					</div>
					<div class="links">
						$!head_hrip_son
					</div>
				</div>


















				
				<!-- 第七栏 -->
				<div class="g-content clearfix m-seventh" id="shoppingShow1">
					<div class="c2-l fleft">
						<div class="g-scrollFive" id="scrollFive_men">
							<div class="black_box_content">
                                $!head_hrip_lb

							</div>
							<div class="btn left" id="scrollFive_men_left"></div>
							<div class="btn right" id="scrollFive_men_right"></div>
						</div>
					</div>
					<div class="c2-r fright">
						<div class="c2r-s">
                            $!head_hrip_lb_img_six
						</div>
					</div>
				</div>
                
                <!-- 广告位 -->
                <div class="form1" style="position: relative;margin:0 auto;">
			        <div style="position: absolute;left: 0;top:0;background: red;height:128px;width:128px;">
                        <a href="http://www.hrenip.com/" target="_blank" title="红人爱品">
                            <img src="/template/img/首页5_03.jpg" style="width:100%;height: 100%;">
                        </a>
                    </div>
	            <!--<div class="left"><<</div>-->
		            <div id="MScroll2" style="position:absolute;left:128px;top:0px;width:1012px;height: 126px;border-bottom:1px solid #c1282a;border-top:1px solid #c1282a;">            
		                <div id="inner2">
		                    <div class="Lunb2">
		                        $!head_rwtj_ad	         
		                    </div>
		                </div>            
		            </div>
        	        <div class="m-right">></div>
                </div>
    	











				

				<div class="hongren-reco">
					<ul class="clearfix">
                        $!head_rwtj
					</ul>
				</div>

				<div class="g-title">
					<div class="title">
						<strong class="clothes"></strong>
						<span><a href="javascript:void(0)" title="更多">聚合阅读</a></span>
					</div>
				</div>
				
				<!-- 第八栏 -->
				<div class="g-content clearfix m-seventh">
					<div class="pub_columnCon">
						<div class="inner_dna" id="dna_equalH">
							<div class="item_dna">
								<h2><a href="/hongren" title="红人">红人</a></h2>
								<p>
									$!hren_html
								</p>
							</div>
							<div class="item_dna">
								<h2><a href="/hrzx" title="资讯">资讯</a></h2>
								<p>
									$!zx_html
								</p>
							</div>
							<div class="item_dna">
								<h2><a href="javascript:void(0)" title="更多">潮范</a></h2>
								<p>
									$!cf_html
								</p>
							</div>
							<div class="item_dna">
								<h2><a href="http://weiba.ypindapei.com" title="更多" target="_blank">微吧</a></h2>
								<p>
                                    $!head_jhrd_wb
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


#parse("foot_index.html")