
/*文章详情*/
.activity-details-d-form{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 22px;
}
.activity-details-d-form h3{
	padding: 30px 0 14px;
	color: #010101;
	font-size: 20px;
}
.activity-details-d-form textarea{
	width: 97%;
	height: 72px;
	border: 1px solid #c1c1c1;
	padding: 10px;
	background-color: #fbfbfb;
	box-shadow: 4px 4px 10px 4px rgba(0,0,0,.08) inset;
}
.activity-details-d-form p{
	margin-top: 14px;
	color: #010101;
	line-height: 26px;
	text-align: right;
}
.activity-details-d-form p em{
	color: #ff334c;
}
.activity-details-d-form p button{
	width: 88px;
	height: 26px;
	margin-left: 10px;
	border: 0;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8b1012), to(#741617));
	background: -moz-linear-gradient(top, #8b1012,#741617);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b1012,endColorstr=#741617,grandientType=0);
	background-color: #741617;
	cursor: pointer;
}

.activity-details-discuss-item{
	border-bottom: 1px solid #eaeaea;
	padding-top: 24px;
}
.item-photo{
	float: left;
	margin-right: 14px;
}
.item-content{
	padding-left: 62px;
	color: #505050;
}
.item-content h3{
	overflow: hidden;
}
.item-content h3 a{
	float: left;
	color: #4095ce;
}
.item-content h3 em{
	float: right;
	font-size: 12px;
}
.item-content p{
	width: 32em;
	padding-top: 10px;
	line-height: 20px;
}
p.item-btns{
	width: auto;
	padding-top: 30px;
	padding-bottom: 18px;
	text-align: right;
}
.item-btns a{
	margin-left: 20px;
	color: #4095ce;
	font-weight: bold;
}
a.laud{
	display: inline-block;
	padding-left: 22px;
	font-weight: normal;
	line-height: 17px;
	background: url(/template/img/thumb.png) no-repeat 0 0;
}
a.lauded{
	color: #ff334c;
	background-position: 0 -17px;
}

.item-content .activity-details-discuss-item{
	border-bottom: 0;
	border-top: 1px solid #eaeaea;
}
.item-content .activity-details-d-form{
	border-bottom: 0;
}
.item-content .activity-details-d-form p{
	width: auto;
	padding-top: 0;
	line-height: 26px;
}
.activity-details-o-right{
	float: left;
	width: 270px;
}
.activity-details-r-item{
	padding: 0 20px 4px;
	border-bottom: 1px solid #eaeaea;
}
.activity-details-r-item h3{
	padding: 26px 0 20px;
	color: #505050;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}
.activity-details-r-item li{
	margin-bottom: 16px;
}
.r-item-photo{
	float: left;
}
.r-item-text{
	padding-left: 110px;
	font-size: 12px;
	line-height: 24px;
}
.r-item-text h4{
	padding-bottom: 34px;
}
.r-item-text h4 a{
	color: #505050;
	font-family: simsun;
}
.r-item-text p{

}
.r-item-text p em{
	color: #ff334c;
	font-size: 14px;
}
/*END*/


/*去除头部广告*/

.top-ad-box,.container-header .logo
    {
        display:none;    
    }
    
.sub-nav ul {
    border-left: 0px;
    margin-left: 0px;
}
/*END*/
/*xwk*/
.xwkwidth
{
    width:1228px;
    height:700px;
    margin:100px auto;
    margin-bottom:0px;
    }
.commomtop
{
    background: url(/template/img/commontop.png) no-repeat 0 0;
    width:1228px;
    height:108px;
    text-align:center;
    color:#fff;
    font-size:36px;
    line-height:108px;
    text-indent: -26px;
    
    
}
.commomtop i
{
    color:#000;
    font-weight:800;
}
.xwkwidth ul
{
    width:847px;
    height:230px;
    margin:168px auto 0px;
 }
 .xwkwidth ul li
 {
     float:left;
     border:2px solid #333333;
     
  }
  .xwkwidth ul li a{display:block;
                    width:100%;
                    height:100%;
   }
  .xwkwidth ul .center89
  {
      margin-left:89px;
      margin-right:89px;
      }
  .xwkwidth ul li:hover
  {
      border:2px solid red;
  }
.xwkfloor
{
    width:100%;
    height:783px;
    margin:0 auto;
    background: url(/template/img/xfoor.png) no-repeat 0 0px;
}
.xwkfloor h2
{
    margin:0 auto;
    }
.bmfloor
{
    width:748px;
    height:519px;
    background:url(/template/img/floor.png) no-repeat 0 0;
    margin:109px auto 0;
    position:relative;
 }
.bmfloor a
{
    display:block;
    width:98px;
    height:79px;
    background:url(/template/img/xtip.png) no-repeat center right;
    position:absolute;
    left:707px;
    top:354px;
     line-height:79px;
     color:#fff;
     font-weight:900;
     font-size:35px;
    
    }
 .bmfloor a:hover
 {
      background:url(/template/img/xtipr.png) no-repeat center right;
 }
 .xwklook
 {
    width:1228px;
    height:769px;
    margin:100px auto;  
  }
 .lookforauthor
 {
     width:1066px;
     height:534px;
     margin:157px auto 0;
     background:url(/template/img/lookfor.png) no-repeat 0 0;
     position:relative;
     
}
 .lookforauthor a
 {
    display:block;
    width:98px;
    height:79px;
    background:url(/template/img/xtip.png) no-repeat center right;
    position:absolute;
    left: 379px;
    top: 402px;
     line-height:79px;
     color:#fff;
     font-weight:900;
     font-size:35px;
}
 .lookforauthor a:hover
 {
   background:url(/template/img/xtipr.png) no-repeat center right;
 }
 .xwkCrowF
 {
    width:100%;
    height:680px;
    margin:100px auto;
    background: url(/template/img/crowf.png) no-repeat 0 118px;
 }
 .xwkCrowF h2
 {
     margin:0 auto;

}
.plCrowF
{
     width:898px;
     height:156px;
     margin:175px auto 0;
     background:url(/template/img/plCrowf.png) no-repeat 0 0;
     position:relative;
}
.plCrowF a
{
    display:block;
    width:98px;
    height:79px;
    background:url(/template/img/xtip.png) no-repeat center right;
    position:absolute;
    left: 846px;
    top: 34px;
     line-height:79px;
     color:#fff;
     font-weight:900;
     font-size:35px;
 }
 .plCrowF a:hover
 {
     background:url(/template/img/xtipr.png) no-repeat center right;
  }
 .xwklink
 {
   width:1228px;
    height:400px;
    margin:100px auto;
 }
 .xwklink ul
 {
   width:768px;
   height:113px;
   margin:100px auto 0;
  }
 .xwklink ul li
 {
     float:left;
 }
  .xwklink ul li p
  {
      color:#fff;
      font-size:16px;
      line-height:42px;
  }
 .xwklink ul .mar121
 {
     margin-left:121px;
 }
 /*网红推广*/
 .whtgtop1
 {
     width:100%;
     position:relative;
      margin-top: 8px;
 }
 .whtgtop2,.whtgtop3,.whtgtop4,.whtgtop5,.whtgtop6
 {
     width:100%;
     position:relative;
 }

 .whtgtit img
 {
     margin:0 auto;
     display:block;
  }
 .whtgtit
 {
  position:absolute;
  left:0;
  top:0;
  width: 100%;  
  margin-top:10%; 
}
.whtgtop2 .whtgmain
{
    position:absolute;
    left:0;
    top:35%;
    width:100%;
    
}
 .whtgmain img
{
     margin:0 auto;
     display:block;
 }
.whtgtop3 .whtgmain
{
    position:absolute;
    left:0;
    top:35%;
    width:100%;
    
}
.whtgmain ul 
{
    width:760px;
    margin:0 auto;
 }
.whtgmain ul li
{
    display:inline-block;
}
.whtgmain ul .mar15
{
    margin-left:17px;
    margin-right:17px;
}
.whtgtop4 .whtgmain
{
    position:absolute;
    left:0;
    top:35%;
    width:100%;
    
}
.whtgtop5 .whtgmain
{
    position:absolute;
    left:0;
    top:35%;
    width:100%;
    
}
.whtgtop6 .whtgmain
{
    position:absolute;
    left:0;
    top:35%;
    width:100%;
    
}
.whtgbottom
{
    position:absolute;
    left:0;
    top:35%;
    width:100%;
 }
.whtgbottom ul 
{
    width:784px;
    margin:0 auto;
    height:404px;
    position:relative;
 }
 .whtgbottom ul li
 {
     width:100%;
     height:100%;
     position:absolute;
       
   }
 .whtgbottom ul .detailCeng
 {
     opacity:0.3;
     background:#fff;
     filter:alpha(opacity=30);   
     -moz-opacity:0.3;   
     -khtml-opacity: 0.3;  
}
 .whtgbottom ul li p
 {
     text-align:center;
     line-height:50px;
     font-size:17px;
 }
  /*红薯直播*/
  .a0,.a1,.a2,.a3,.a4,.a5
  {
      visibility:hidden;
      }
  .hszbmain
  {
      width:100%;
   }
  .zero,.one,.two,.thr,.four,.fiv
  {
      width:100%;
      height:550px;
      
     
   }
   .zero
   { margin-top:8px;
      background:url(/template/img/hszb/back1.png) no-repeat;
      background-size:100% 100%;
       }
   .zero ul
   {
       width:886px;
       margin:0 auto;
       position:relative;
    }
    .zero ul .b
    {
        position:absolute;
        left:0;
        top:87px;
        z-index:10;
        
      }
       .zero ul .imgone
    {
        position:absolute;
        left:0;
        bottom:-550px;
        
      }
   .zero ul li:last-child
   {
     width:284px;
     height:219px;
     margin-top:177px;
     }
   .hszbmain ul li:first-child
   {
       float:left;
       
   } 
   .hszbmain ul li:last-child
   {
       float:right;
       
   } 
   .elink
   {
       position:relative;
       width:274px;
       height:119px;
       margin-top:27px;
       }
    .elink p
    {
        display:block;
        width:126px;
        height:30px;
        border-radius:5px;
        background:url(/template/img/hszb/iosR.png) no-repeat 19px center #fff;
        text-indent:46px;
        line-height:30px;
        font-size:12px;
        color:#ff361b;
        cursor:pointer;
    }
    .elink p:first-child:hover
    {
        background:url(/template/img/hszb/iosB.png) no-repeat 19px center #fff; 
        color:#000;
       }
    .elink .iPad
    {
        background:url(/template/img/hszb/ipadR.png) no-repeat 19px center #fff;
        margin-top:12px;
        margin-bottom:12px;
     }
     .elink .iPad:hover
     {
         background:url(/template/img/hszb/ipadB.png) no-repeat 19px center #fff; 
         color:#000;
         }
     .elink .Android
    {
        background:url(/template/img/hszb/AndroidR.png) no-repeat 19px center #fff;
   
     }
     .elink .Android:hover
    {
        background:url(/template/img/hszb/AndroidB.png) no-repeat 19px center #fff;
        color:#000;
   
     }
     .ecode
     {
         width:118px;
         height:118px;
         position:absolute;
         right:0;
         top:0;
         display:none;
      }
      .ecode img
      {
          width:118px;
         height:118px;
          }
  .one
  {
       background:url(/template/img/hszb/back2.png) no-repeat;
        background-size:100% 100%;
        height:530px;
        margin-top:0px;
   }
  .one ul li:nth-child(2)
  {
      float:right;
      margin-top:112px;
 }
 .b1
 {
    bottom: -302px;
    position: absolute;
    right: 116px;
   }
   .one ul li:first-child
   {
       margin-left:-128px;
       margin-top:213px;
   }
  .two
  {
       background:url(/template/img/hszb/back3.png) no-repeat;
        background-size:100% 100%;
        height:530px;
   }
  .two ul
  {
       width:886px;
       margin:0 auto;
       position:relative;
 }
  .two ul li:first-child
  {
    margin-top:112px;
    }
 .b2
 {
     left: -148px;
    position: absolute;
    top: 219px;
     
  }
 .two ul li:last-child
 {
     margin-top:212px;
     
  }
 .thr ul li:nth-child(2) {
    margin-top: 131px;
}
.thr .b1 {
    top: -25px;
}
.four ul li:first-child {
    margin-top: 117px;
}
.four b2
{
    left: -104px;
    top: 100px;
    }
 .ltip{width:100%;
       text-align:center;
       color:#fff;
       font-size: 12px;
       margin-top: 16px;
       
       
       }