.header{
	height: 35px;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	background-color: #ad080e;
}
.header a{
	color: #fff;
}

.main-nav{
	float: left;
}
.main-nav li{
	float: left;
}
.main-nav a{
	display: block;
	padding: 0 7px;
}
.main-nav a:hover, .main-nav .active{
	background-color: #8b070c;
}
.main-nav li:last-child a{
	color: #fcff00;
}


.log-box{
	float: right;
	font-family: simsun, 'microsoft yahei';
	font-size: 0;
}
.log-box a:hover{
	text-decoration: underline;
}
.log-box span{
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}
.social-btns{
	margin-left: 14px;
	margin-right: 16px;
	font-size: 0;
}
.social-btns a{
	display: inline-block;
	width: 22px;
	height: 17px;
	background: url(/template/img/article/social_icon.png) no-repeat 0 0;
	vertical-align: middle;
}
.social-btns a:last-child{
	margin-left: 14px;
	background-position: -23px 0;
}


.container{
	width: 1004px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.top-ad-box{
	margin: 10px auto;
}

.container-header{
	height: 54px;
	border-bottom: 2px solid #2e2e2e;
	line-height: 54px;
}

.logo{
	float: left;
}
.sub-nav{
	float: left;
}
.sub-nav ul{
	display: inline-block;
	margin-left: 20px;
	border-left: 1px solid #e8e8e8;
	line-height: 18px;
	vertical-align: middle;
}
.sub-nav li{
	float: left;
	margin-left: 14px;
	font-size: 12px;
}
.sub-nav li a{
	color: #2f0000;
}
.sub-nav li a:hover, .sub-nav li a.active{
	color: #ad080e;
}

.search-box{
	float: right;
	font-size: 0;
}
.search-box input[type="search"]{
	width: 210px;
	height: 24px;
	border: 1px solid #c9c9c9;
	font-family: simsun, 'microsoft yahei';
	font-size: 12px;
	line-height: 24px;
	text-indent: 4px;
}
.search-box input[type="submit"]{
	width: 48px;
	height: 24px;
	border: 1px solid #c9c9c9;
	border-left: 0;
	font-size: 14px;
	background: #f4f4f4;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f4f4f4));
	background: -moz-linear-gradient(top, #ffffff,#f4f4f4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4,grandientType=0);
}

.special-list li{
	border-bottom: 1px solid #dcdcdc;
	padding: 20px 0;
}
.special-list li h3{
	line-height: 22px;
}
.special-list li h3 a{
	color: #000;
}
.special-list li p{
	margin-bottom: 20px;
	padding-left: 20px;
	color: #ff3363;
	font-size: 14px;
	line-height: 22px;
	background: url(/template/img/article/clock_icon.png) no-repeat 0 50%;
}

.page-box{
	margin: 30px 0;
	font-size: 0;
	text-align: center;
}
.page-box a{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 6px;
	color: #777;
	font-family: Arial;
	font-size: 14px;
	line-height: 38px;
}
.page-box a[href], .page-box .active{
	color: #fff;
	background-color: #777;
}
.page-box a[href]:hover, .page-box .active{
	background-color: #c01710;
}

.footer{
	background-color: #333438;
}

.vedio-box h3{
	height: 48px;
	color: #c00;
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
}
.vedio-box h3 i{
	display: inline-block;
	width: 15px;
	height: 9px;
	margin-left: 8px;
	background: url(/template/img/article/tv.jpg) no-repeat 0 0;
}
.vedio-box ul{
	margin-left: -14px;
}
.vedio-box li{
	position: relative;
	float: left;
	margin-left: 14px;
	*margin-left: 13px;
}
.vedio-box li a{
	*font-size: 0;
}
.vedio-box li span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 22px;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .5);
}
.vedio-box li span i{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/template/img/article/vedio.png) no-repeat 0 0;
	vertical-align: middle;
}

.bottom-ad-box{
	margin-top: 30px;
}

.web-info{
	text-align: center;
}
.web-info ul{
	margin-top: 26px;
	display: inline-block;
}	
.web-info li{
	float: left;
}
.web-info li a{
	color: #888886;
	font-size: 12px;
}
.web-info li i{
	margin: 0 10px;
	color: #888886;
	font-size: 12px;
}
.web-info p{
	margin-top: 18px;
	color: #888886;
	font-size: 12px;
}


.fixed-side{
	position: fixed;
	right: 25px;
	top: 50%;
	
}
.fixed-side a{
	position: relative;
	display: block;
	width: 54px;
	height: 54px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 16px;
	line-height: 54px;
	text-align: center;
	background-color: #aa080e;
}
.fixed-side a > em{
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
}
.fixed-side .goHome{
	background-color: #d11d23;
}
.fixed-side .goHome:after{
	position: absolute;
	right: 0;
	bottom: -4px;
	content: '';
	width: 100%;
	height: 4px;
	background: url(/template/img/article/shadow.png) no-repeat 0 0;
}
.fixed-side .goTop{
	height: 51px;
	background: url(/template/img/article/goTop.png) no-repeat 0 0;
}

.poster-box
{
    text-align: center;
    margin-top:46px;
    }
.poster-box img{
	display: inline-block;
}

.special-type{
	position: relative;
	margin: 20px 0 30px;
}
.special-type a{
	display: inline-block;
	width: 98px;
	height: 40px;
	margin-right: 48px;
	border: 1px solid #ad080e;
	border-radius: 15px;
	color: #ad080e;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.special-type a.active{
	color: #fff;
	background-color: #ad080e;
}

.container-left{
	float: left;
	width: 640px;
}
.container-right{
	float: right;
	width: 300px;
}

.infor-list li{
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 18px;
}
.infor-list li h2{
	padding-bottom: 16px;
	font-size: 18px;
}
.infor-list li h2 a{
	color: #252525;
}
.infor-list li h2 a:hover{
	color: #c01710;
	text-decoration: underline;
}
.list-item-abstract{
	color: #808080;
	font-size: 14px;
	line-height: 22px;
}
.list-item-abstract a{
	float: left;
	margin-right: 22px;
}
.list-item-data{
	padding-top: 6px;
	color: #808080;
	font-family: arial, 'microsoft yahei', sans-serif;
	font-size: 12px;
}
.list-item-data strong{
	float: left;
	font-weight: normal;
}
.list-item-data span{
	float: right;
}
.list-item-data span b{
	color: #ff2968;
	font-weight: normal;
}



.rightSide-item{
	margin-bottom: 24px;
}

.rightSide-item ul{
	margin-left: -20px;
}
.rightSide-item li{
	float: left;
	margin-left: 20px;
	margin-bottom: 18px;
}
.rightSide-item li p{
	color: #000;
	font-size: 12px;
	line-height: 20px;
}

.rightSide-vedios li{
	position: relative;
	width:140px;
}

.vedioIcon{
	position: absolute;
	left: 0;
	top: 58px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background-color: #e71a21;
}
.vedioIcon:after{
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-width: 5px 0 5px 5px;
	border-style: solid;
	border-color: transparent #fff;
}

.view-focus
{
	margin-bottom: 6px;
}

.rightTop-ad-box
{
     width: 330px;
    height: 250px;
	margin-bottom: 24px;
	overflow:hidden;
	position:relative;
		
}

.rightTop-ad-box .hongren2
{
    position:absolute;
    bottom:6px;
    right:3px;
    z-index:10000;
    
    }


.rightTop-ad-box .g-scrollSix
{
    position:relative;
    overflow:hiddden;
    background: url(/template/img/article/hongren2.jpg) no-repeat left top;
    
}

.rightTop-ad-box .g-scrollSix .black_box_content
{
    overflow:hidden;
    width: 3000px;
    background: url(/template/img/hongren2.jpg) no-repeat left top;
}
.rightTop-ad-box .g-scrollSix .black_box_content .item
{ 
    float:left;
    height:280px;
    overflow:hidden;
    position:relative;
    width:300px;
    
    
}
.g-pic
{
    overflow:hidden;
    position:relative;
}
.g-pic a .c-price
{
    display:inline-block;
    height:20px;
    width:100px;
    position:absolute;
    left:25px;
    bottom:0px;
    z-index:10000;
    color:red;
    }
.g-pic a .c-page
{
    width:50px;
    height:20px;
  
    color:red;
    position:absolute;
    right:0px;
    bottom:0px;
    z-index:10000;
 }
    
    
    
    
    
.rightTop-ad-box .g-scrollSix .btn
{
    background: rgba(0, 0, 0, 0) url("/template/img/information/arrow.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 58px;
    left: 10px;
    margin-top: -29px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 3;
    
}
.rightTop-ad-box .g-scrollSix .right
{
    background-position: right 0;
    left: auto;
    right: 10px;
    
}


.essence-recommend .g-pic img
{
    width:330px;
    height:250px;
 }


.rightTop-ad-box .g-scrollSeven
{
    position:relative;
    overflow:hiddden;
    
}
.rightTop-ad-box .g-scrollSeven .black_box_content
{
    overflow:hidden;
    width: 3000px;
}
.rightTop-ad-box .g-scrollSeven .black_box_content .item
{ 
    float:left;
    height:280px;
    overflow:hidden;
    position:relative;
    width:330px;
    
    
}
.g-pic
{
    overflow:hidden;
    position:relative;
}
.g-pic a .c-price
{
    display:inline-block;
    height:50px;
    width:300px;
    position:absolute;
    left:0px;
    bottom:0px;
    z-index:10;
    color:red;
    background:#fff;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; 
}
.g-pic a .c-page
{
    width:491px;
    height:23px;
    color:#000;
    position:absolute;
    left:8px;
    bottom:24px;
    z-index:10000;
    line-height:23px;
    font-size:12px;
   
 }
 .g-pic a .c-page i
 {color:Red;
  font-size:11px;
     }   
    
    
    
    
.rightTop-ad-box .g-scrollSeven .btn
{
    background: rgba(0, 0, 0, 0) url("/template/img/information/arrow.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 58px;
    left: 10px;
    margin-top: -29px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 3;
    
}
.rightTop-ad-box .g-scrollSeven .right
{
    background-position: right 0;
    left: auto;
    right: 10px;
    
}











.essence-recommend ul{
	margin-top: -6px;
	margin-left: 0;
	border: 1px solid #d4d9e5;
	padding: 0 15px 15px;
}
.essence-recommend li{
	float: none;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 15px;
	overflow: hidden;
}
.essence-recommend li a:last-child{
	display: block;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	margin-top: 10px;
}
.essence-recommend li a:first-child{
	float: left;
	margin-right: 14px;
}

.works-sum{
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	font-size: 12px;
	font-weight: bold;
	line-height: 40px;
}
.works-sum em{
	font-size: 20px;
	font-weight: normal;
}


.works-list ul{
	margin-left: -24px;
}
.works-list li{
	float: left;
	margin-left: 25px;
	padding-bottom: 20px;
}
.works-list li p a{
	display: inline-block;
	width: 232px;
	color: #000;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.works-list li p{
	margin: 14px 0;
	color: #999;
	font-size: 12px;
}


/* 写真 portrait */
.portrait .container-header{
	border-bottom: 0;
	padding-bottom: 8px;
}

.portrait-type{
	margin-left: -36px;
	padding-top: 20px;
	font-size: 0;
}
.portrait-type a{
	display: inline-block;
	width: 112px;
	height: 36px;
	margin-left: 36px;
	margin-bottom: 20px;
	border: 1px solid #d5d9e5;
	border-radius: 4px;
	color: #807c7d;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	box-sizing: border-box;
}
.portrait-type a:hover, .portrait-type a.active{
	border-color: #ad080e;
	color: #fff;
	background-color: #ad080e;
}

.portrait-list ul{
	margin-left: -24px;
}
.portrait-list li{
	position: relative;
	float: left;
	margin-left: 24px;
	margin-bottom: 20px;
	*font-size: 0;
}
.portrait-list li span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 34px;
	color: #333;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .6);
}


.portrait-content-box{
	border: 1px solid #ddd;
	padding: 0 20px;
}

.portrait-header{
	border-bottom: 1px solid #ddd;
	padding-bottom: 18px;
}
.portrait-header h1{
	margin-top: 24px;
	color: #000;
	font-size: 24px;
}
.portrait-header p{
	margin-top: 10px;
	line-height: 26px;
}
.portrait-header p em{
	float: left;
	margin-right: 16px;
	color: #999;
	font-size: 14px;
}
.portrait-header p em:first-child{
	color: #000;
	margin-top:9px;
}
.portrait-header p > span{
	float: right;
	color: #000;
	font-size: 0;
}
.portrait-header p span span{
	display: inline-block;
	margin-left: -1px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	    color: #5c5c5c;
}
.portrait-header p span span.comment-sum
{
    height: 24px;
    border: 1px solid #c7c7c7;
	border-radius: 4px;
	padding: 0 10px;
    }
.portrait-header p span b{
	color: #c00;
}

.portrait-content{
	text-align: center;
}
.portrait-slides{
	border-bottom: 1px solid #ddd;
	padding: 40px 0 50px;
}

.content-page-box{
	padding: 14px 0 22px;
}
.content-page-box a{
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 6px;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	color: #7f7f7f;
	font-size: 14px;
	font-weight: bold;
	line-height: 34px;	
	vertical-align: middle;
	background: #f0f0f0;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f0f0f0,grandientType=0);
}
.content-page-box a:hover, .content-page-box a.active{
	border-color: #c01710;
	color: #fff;
	background: #c01710;
}

.page-prev:after{
	border-width: 6px 6px 6px 0;
}
.page-next:after{
	border-width: 6px 0 6px 6px;
}
.page-ctrl:after{
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #4e4e4e;
}
.page-ctrl:hover:after{
	border-color: transparent #fff;
}


.portrait-footer{
	padding-bottom: 20px;
}

.category-box{
	float: left;
	color: #000;
	font-size: 14px;
	line-height: 24px;
}
.category-box dt{
	float: left;
}
.category-box dd{
	float: left;
	margin-right: 10px;
}
.category-box dd a{
	color: #000;
}
.category-box dd a:hover{
	color: #0b4497;
	text-decoration: underline;
}

.share-box{
	float: right;
}


.portrait-other-info{
	padding-top: 56px;
}


.hot-pictures{
	border-bottom: 1px solid #dcdcdc;
}
.hot-pictures h3{
	margin-bottom: 20px;
	color: #c00;
	font-size: 18px;
}
.hot-pictures ul{
	margin-left: -12px;
}
.hot-pictures li{
	float: left;
	margin-left: 12px;
	margin-bottom: 16px;
}
.hot-pictures li p{
	padding-top: 12px;
	color: #000;
	font-size: 14px;
}


.comment{
	padding-top: 44px;
}

.comment-header{
	position: relative;
	margin-bottom: 6px;
}
.comment-header h3{
	color: #c2c0c0;
	font-size: 14px;
	line-height: 20px;
}
.comment-header h3 em{
	margin-right: 10px;
	color: #c00;
	font-size: 20px;
}
.comment-header span{
	position: absolute;
	right: 0;
	top: 0;
	color: #c2c0c0;
	font-size: 14px;
	line-height: 24px;
}

.comment-input{
	border: 1px solid #c9c9c9;
	overflow: hidden;
}
.comment-textarea-wrap{
	border-bottom: 1px solid #e5e5e5;
	padding-left: 20px;
}
.comment-input textarea{
	width: 100%;
	height: 60px;
	margin-left: -20px;
	border: 0;
	padding: 10px;
}

.comment-input-bottom{
	position: relative;
	height: 40px;
	padding-left: 8px;
	font-family: simsun;
	font-size: 12px;
	line-height: 40px;
}
.comment-input-bottom a em{
	margin: 0 10px;
	color: #379be9;
}
.comment-input-bottom a img{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.comment-input-bottom .switchUser{
	color: #b2b2b2;
}
.comment-input-bottom span{
	position: relative;
	margin-left: 10px;
	color: #2a2a2a;
	cursor: pointer;
}
.comment-input-bottom span i{
	display: inline-block;
	width: 16px;
	height: 12px;
	margin-right: 4px;
	background: url(/template/img/article/picture_icon.png) no-repeat 0 0;
	vertical-align: -2px;
}
.comment-input-bottom span input[type="file"]{
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.comment-input-bottom input[type="submit"]{
	position: absolute;
	right: 10px;
	bottom: 7px;
	width: 68px;
	height: 28px;
	border: 0;
	border-radius: 2px;
	outline: 0;
	color: #fff;
	font-family: simsun;
	background-color: #c00;
	cursor: pointer;
}

.comment-list{
	margin-top: 30px;
}

.comment-list-header{
	border-bottom: 1px solid #ddd;
	
	font-size: 0;
}
.comment-list-header a{
	display: inline-block;
	margin-right: 20px;
	border-bottom: 3px solid transparent;
	padding-bottom: 8px;
	color: #2a2a2a;
	font-size: 16px;
}
.comment-list-header .active{
	border-bottom-color: #c00;
}


.sort-btns{
	padding-top: 6px;
	font-size: 0;
	text-align: right;
}
.sort-btns a{
	display: inline-block;
	width: 46px;
	height: 22px;
	border: 1px solid #ddd;
	color: #555;
	font-family: simsun;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	box-sizing: border-box;
}
.sort-btns a:first-child{
	border-radius: 5px 0 0 5px;
}
.sort-btns a:last-child{
	border-radius: 0 5px 5px 0;
}
.sort-btns .active{
	border-color: #c00;
	color: #fff;
	background-color: #c00;
}

.hot-comment h4{
	color: #ff297f;
}
.hot-comment h4, .last-comment h4{
	margin: 10px 0;
	font-size: 14px;
}
.comment-item > li{
	margin-top: 10px;
	border-top: 1px solid #e8e8e8;
	padding-top: 20px;
	font-family: simsun;
}
.comment-reply-item.comment-item > li{
	border-top-style: dashed;
}
.comment-item .user-photo{
	float: left;
}
.comment-item .user-photo img{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.comment-item li > div{
	padding-left: 50px;
}
.comment-item li h5{
	margin-bottom: 14px;
	font-size: 12px;
}
.comment-item li h5 a{
	color: #379be9;
}
.comment-item li h5 span{
	margin-left: 20px;
	color: #999;
}
.comment-item li h5 i{
	display: inline-block;
	width: 15px;
	height: 10px;
	background: url(/template/img/article/comment_icons.gif) no-repeat -443px -25px;
}
.comment-item li p{
	color: #2a2a2a;
	font-size: 14px;
	line-height: 22px;
}
.comment-item li .comment-ctrl-box{
	padding-bottom: 10px;
	color: #999;
	font-size: 12px;
}
.comment-ctrl-box span{
	margin-right: 10px;
	cursor: pointer;
}
.comment-ctrl-box span:hover{
	color: #379be9;
}
.comment-ctrl-box i{
	display: inline-block;
	margin-right: 2px;
	background: url(/template/img/article/comment_icons.gif) no-repeat 0 0;
	vertical-align: -1px;
}
.comment-ctrl-box .praise{
	width: 12px;
	height: 12px;
	background-position: -4px -4px;
}
.comment-ctrl-box .reply{
	width: 15px;
	height: 10px;
	background-position: -2px -25px;
}
.comment-ctrl-box .view{
	width: 12px;
	height: 10px;
	background-position: -4px -85px;
}
.comment-ctrl-box span:hover .praise{
	background-position: -44px -4px;
}
.comment-ctrl-box span:hover .reply{
	background-position: -42px -25px;
}
.comment-ctrl-box span:hover .view{
	background-position: -43px -85px;
}


.last-comment h4{
	color: #379be9;
}


.load-more{
	display: block;
	margin-top: 10px;
	color: #555;
	font-family: simsun;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	background-color: #ddd;
}

.recommend-box{
	margin-top: 30px;
}
.recommend-box h3{
	border-bottom: 1px solid #b5080e;
}
.recommend-box h3 em{
	display: inline-block;
	width: 97px;
	height: 23px;
	padding: 13px 0 0 34px;
	color: #fff;
	background: url(/template/img/article/main.png) no-repeat -6px -235px;
}
.recommend-box li{
	border-bottom: 1px solid #cfcfcf;
	padding: 18px 0;
	overflow: hidden;
}
.recommend-box li:hover{
	background-color: #f9f9f9;
}
.recommend-box li > a{
	float: left;
	margin-right: 24px;
}
.recommend-box li h4{
	margin-bottom: 8px;
}
.recommend-box li h4 a{
	color: #333;
	font-size: 20px;
}
.recommend-box li p{
	color: #666;
	font-size: 14px;
	line-height: 22px;
}

.recommend-box .load-more{
	margin-top: 50px;
}

.back-home{
	margin-top: 32px;
	margin-bottom: 30px;
	font-size: 0;
	text-align: center;
}
.back-home a{
	display: inline-block;
	width: 116px;
	height: 36px;
	border: 1px solid #c5c5c5;
	border-radius: 4px 0 0 4px;
	color: #555;
	font-size: 14px;
	line-height: 36px;
}
.back-home a:last-child{
	margin-left: -1px;
	border-radius: 0 4px 4px 0;
}
.back-home a:hover{
	color: #c00;
}

.left-bottom-ad-box{
	margin-bottom: 10px;
}


.main-container{
	width: 1240px;
}


.main-container .top-ad-box span{
	display: inline-block;
	width: 216px;
	border: 1px solid #e6e6e6;
	padding-right: 8px;
	color: #888;
	font-family: simsun;
	font-size: 12px;
	line-height: 18px;
	vertical-align: middle;
}
.main-container .top-ad-box span img{
	float: left;
	margin-right: 6px;
}
.main-container .top-ad-box h5{
	margin-top: 11px;/*16px*/
	margin-bottom: 8px;
	font-weight: bold;
}

.main-container .container-header{
	padding-bottom: 10px;
}

.main-content-box{

}
.main-leftSide{
	float: left;
	width: 198px;
}
.main-rightSide{
	float: right;
	width: 1042px;
}

.fixed-header .header-nav, .normal-header{
	width: 197px;
	height: 38px;
	border-left: 1px solid #ddd;
	line-height: 38px;
	background: url(/template/img/article/main.png) no-repeat -6px -25px;
}
.normal-header a{
	margin-left: 18px;
	color: #fff;
}

.fixed-header .header-logo{
	display: block;
	margin: 12px 0 10px;
}
.fixed-header .header-nav{
	width: 179px;
	padding-left: 18px;
}
.fixed-header .nav-show{
	float: left;
}
.fixed-header .nav-show a{
	padding: 0 6px;
	color: #fff;
	font-size: 14px;
}
.fixed-header .nav-more{
	position: relative;
	float: right;
	width: 40px;
	height: 36px;
	text-align: center;
	cursor: pointer;
}
.fixed-header .nav-more em{
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(/template/img/article/main.png) no-repeat -6px -2px;
}
.fixed-header .nav-more:hover{
	background-color: #b80b11;
}
.fixed-header .nav-more:hover ul{
	display: block;
}
.fixed-header .nav-more ul{
	position: absolute;
	right: 0;
	top: 36px;
	width: 80px;
	padding: 6px 0;
	font-size: 14px;
	background-color: #b80b11;
	z-index: 20;
	display: none;
}
.fixed-header .nav-more li a{
	display: block;
	height: 30px;
	color: #fff;
	line-height: 30px;
}
.fixed-header .nav-more li a:hover{
	background-color: #8b070c;
}

.slide-list{
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
}
.slide-list li{
	border-bottom: 1px solid #ddd;
	padding: 8px 14px;
}
.slide-list li:hover{
	background-color: #f5f5f5;
}
.slide-list li a{
	color: #000;
	font-size: 14px;
	line-height: 22px;
}

.main-wrapper{
	margin-left: 42px;
}

.main-content{
	float: left;
	width: 640px;
}
.main-content .portrait-header{
	border-bottom: 0;
	padding-bottom: 14px;
}
.main-content .portrait-header h1{
	width: 780px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 32px;
    overflow: hidden;
    font-size: 31px;
    color: #0c0c0c;
    text-align: center;
    font-weight: bold;
}


.main-content-body{
	border-bottom: 1px solid #dcdcdc;
	color: #000;
	font-size: 16px;
	line-height: 28px;
	overflow: hidden;
}
.main-content-body .abstract{
	padding: 12px 18px 10px;
	font-size: 14px;
	background: #f3f3f3;
}
.main-content-body strong{
	font-weight: bold;
}
.main-content-body p{
	margin-bottom: 28px;
	line-height: 28px;
}

.main-content .portrait-footer{
	margin-top: 30px;
}
.main-middle-ad-box{
	margin-top: 30px;
}


/*相关阅读*/
.main-readWrapper{
	margin-top: 40px;
	margin-bottom: 40px;
}
.main-aboutRead{
	border-bottom:1px solid #dcdcdc;
	padding-bottom:18px;
}
.main-aboutRead .hd h2{
	color:#c00;
	font-size:18px;
	line-height:24px;
}
.main-aboutRead .hd h2 span{
	display:inline-block;
	font-size:14px;
}
.main-aboutRead .hd h2 .readTit{
	margin-right: 4px;
	font-size:18px;
}
.main-aboutRead .hd h2 span a{
	display:block;
	border:1px solid #dfdedc;
	padding:0 5px;
	color:#757575;
}
.main-aboutRead .hd h2 span a:hover{
	color:#fff;
	background-color:#c00;
}
.main-aboutRead .bd{
	margin-top:10px;
	line-height:27px;
}
.main-aboutRead .bd ul em{
	display:inline-block;
	width:3px;
	height:3px;
	margin:0 10px 4px 0;
	background-color:#c00;
	overflow:hidden;
}
.main-aboutRead .bd ul li{
	height:27px;
}
.main-aboutRead .bd ul span{
	color:#C0C0C0;
	font-size:12px;
	margin-left:10px;
}
.main-aboutRead .bd ul a{
	color: #000;
	font-size: 14px;
}
.main-aboutRead .bd ul a:hover{
	color: #0b4497;
	text-decoration: underline;
}

/*相关搜索*/
.main-aboutSearch{
	padding-bottom:18px;
	border-bottom:1px solid #dcdcdc;
}
.main-aboutSearch h2{
	color: #c00;
	font-size: 18px;
}
.main-aboutSearch .bd{
	margin-top:12px;
	line-height:28px;
}
.main-aboutSearch .bd li{
	float:left;
	width:210px;
}
.main-aboutSearch .bd ul a{
	color: #000;
	font-size: 14px;
}
.main-aboutSearch .bd ul a:hover{
	color: #0b4497;
	text-decoration: underline;
}

.main-contentSide{
	float: right;
	width: 330px;
	padding-top: 24px;
}

/* 登录之后 */
.opera-box {
	float: right;
	color: #fff;
	font-size: 0;
}
.opera-box span {
	display: inline-block;
	border-right: 1px solid #e6e6e6;
	padding: 0 10px;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
}
.opera-box span{
	border-right: 0;
	line-height: 18px;	
}
.opera-box span:first-child{
	border-right: 1px solid #e6e6e6;
}
.opera-box span:last-child a:hover{
	text-decoration: none;
}

.opera-box.login-box .user-center {
    margin-right: 24px;
}
.opera-box.login-box .user-center span
{
    margin-right: 12px;
    height: 18px;
    }
    
.opera-box.login-box a {
    font-size: 12px;
    vertical-align: middle;
}
.opera-box.login-box .user-center img 
{
    margin-top: -6px;
    border-radius: 100%;
}

span.f-share-box{
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	padding: 0;
	font-size: 0;
	vertical-align: middle;
}
.f-share-box a{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background: url(/template/img/information/icon-top-allnav.png) no-repeat 0 50%;
	vertical-align: middle;
}
.f-share-box a:last-child{
	position: relative;
	background-position: -32px 50%;
}
.f-share-box a:first-child:hover{
	background-position: -62px 50%;
}
.f-share-box a:last-child:hover{
	background-position: -94px 50%;
}
.f-share-box a:last-child:hover .wechat-imgBox{
	display: block;
}
.wechat-imgBox{
	position: absolute;
	left: 0;
	top: 27px;
	width: 100px;
	height: 100px;
	margin-left: -46px;
	display: none;
}
.wechat-imgBox img
{
    max-width: 100%;}


.fixed{position: fixed;background-color: #fff;z-index: 10;}



/* 红人作品 */

.works-section1 .left{float: left;width: 488px;height: 387px;}
.works-section1 .right{float: right;width: 490px;height: 430px;overflow: hidden;}

.works-section2,.works-section1{padding-top: 30px;}
.works-box .works-list li > a{position: relative;display: block;}
.works-box .works-list li > a .icon-video{position: absolute;left: 0;top: 0;content: '';width: 100%;height: 100%;background: url(/template/img/article/video.png) no-repeat 50% 50%;display: none;}
.works-box .works-list li:hover > a .icon-video{display: block;}

.works-section1 .works-list li{margin-bottom: 20px; padding-bottom: 0;}
.works-section1 .works-list li:hover{background-color: #ddd;}
.works-section1 .works-list li p{padding: 0 10px;}
.works-section1 .works-list li p a{width: 212px;}

/* slides */
.slides-box{
	position: relative;
	width: 488px;
	height: 387px;
}
.slides-box .slidesjs-pagination{
	position: absolute;
	right: 26px;
	bottom: 19px;
	z-index: 20;
}
.slides-box .slidesjs-pagination-item{
	float: left;
	margin-left: 10px;
	font-size: 0;
	line-height: 0;
}
.slides-box .slidesjs-pagination-item a{
	display: inline-block;
	width: 11px;
	height: 11px;
	font-size: 0;
	line-height: 0;
	background: url(/template/img/information/dot.png) no-repeat 0 0;
}
.slides-box .slidesjs-pagination-item .active{
	background-position: 0 -11px;
}
.slides-box .slides-descride{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: url(/template/img/information/alpha70.png) repeat 0 0;
	background: rgba(0, 0, 0, .7);
}
.slides-box .slides-descride a{
	margin-left: 14px;
	color: #fff;
	font-size: 22px;
}





.m-right{width:50px; height:40px; line-height:40px; float:left; text-align:center; cursor:pointer;position: absolute;right:0;top:0;height: 128px;width:31px;background: #bf292a;line-height: 128px;color: #fff;font-size:20px;}
	#MScroll{width:200px; height:40px; overflow:hidden; float:left}
	#inner{width:200px; height:40px;}
	#inner .Lunb{width:1500px; list-style:none;height:128px;overflow:hidden;} 
	#inner .Lunb .nn{width:128px; float:left; list-style:none; line-height:40px; text-align:center;height: 128px;position: relative;margin-left:3px;margin-right:3px;}        
	#inner .Lunb .nn .tuceng4{
	display:none;position:absolute;left:0;bottom:0px;background: #cc5455;width: 128px;height:26px;opacity: 0.8; filter:alpha(opacity=80);
	}
	#inner .Lunb .nn .tuceng4 .mone{
	text-align:center;
	color: #fff;
	line-height: 26px;
	display: block;
	}
	#inner .Lunb .nn img
	{display:block;
	 width:100%;
	 height:100%;
	    }
	#page a{ margin:0px 10px; text-decoration:none}
	.form1{
	width: 641px;
	height: 128px;
	margin: 23px auto;
	overflow:hidden;
	}
	#inner .Lunb .nn:hover .tuceng4{
	display: block;
	}
	
	#MScroll2{width:200px; height:40px; overflow:hidden; float:left}
	#inner2{width:200px; height:40px;}
	#inner2 .Lunb2{width:1500px; list-style:none;height:128px;overflow:hidden;} 
	#inner2 .Lunb2 .nn2{width:128px; float:left; list-style:none; line-height:40px; text-align:center;height: 128px;position: relative;margin-left:3px;margin-right:3px;}        
	#inner2 .Lunb2 .nn2 .tuceng4{
	display:none;position:absolute;left:0;bottom:0px;background: #cc5455;width: 128px;height:26px;opacity: 0.8; filter:alpha(opacity=80);
	}
	#inner2 .Lunb2 .nn2 .tuceng4 .mone{
	text-align:center;
	color: #fff;
	line-height: 26px;
	display: block;
	}
	#inner2 .Lunb2 .nn2 img
	{display:block;
	 width:100%;
	 height:100%;
	    }
	#page a{ margin:0px 10px; text-decoration:none}
	.form1{
	width: 783px;
	height: 128px;
	margin: 23px auto;
	overflow:hidden;
	}
	#inner2 .Lunb2 .nn2:hover .tuceng4{
	display: block;
	}



/*登录图层*/
.loginTuceng
{
   width:460px;
   height:304px; 
   border:5px solid #d4d4d4;
   position:absolute;
   left:50%;
   top:50%;
   margin-left:-230px;
   margin-top:-152px;
    z-index:10001;
    background:#fff;
    display:none;
   
}
.loginTuceng .loginTucengT
{
   height:45px;
   width:428px;
   margin:5px;
   background:#ededed;
   line-height:45px;
   font-size:24px;
   color:#333333;
   padding-left:22px; 
  
    
}
.login-type
{
    width:321px;
    height:17px;
    text-align:center;
    margin-left:69px;
    margin-top:51px;
    font-size:17px;
    color:#545454;
    position:relative;
}
.login-type span
{
    color:#b5b5b5;
    font-size:20px;
    top:-9px;
    font-size:32px;
  }
.theoneline
{
    position:absolute;
    left:0;
    
    
 }
 .thetwoline
 {
      position:absolute;
    right:0;
     
 }
 .login-third-t
 {
   width:321px;
   height:66px; 
   margin-left:68px;
    margin-top: 36px;
  }
 .login-third-t a
 {
     display:inline-block;
     width:66px;
     height:66px;
     margin-left:27px;
     
     
  }
.third-tip
{
    width:321px;
    font-size:11px;
    display:inline-block;
    text-align:center;
     margin-left:68px;
     margin-top:33px; 
 }
.third-tip a
{
    color:#cc0d28;
    }
body,html{  width:100%;
    height:100%;}
.loginBig
{  
  width:100%;
 height:100%;
  background:black;
 filter:alpha(opacity=50);   
 -moz-opacity:0.5;   
 -khtml-opacity: 0.5;   
 opacity: 0.5; 
 position:absolute;
 z-index:10000;
 display :none;
 }



/*红人汇内容页修改by罗月明*/

.newmain-rightSide
{
    float:left;
    width:1160px;
}
 .newmain-container
 {
     width:1160px;
 }
 .main-wrapper
 {
     margin-left:0px;
  }
.portrait-header
{
  text-align:center;  
 } 
.main-content
{
    width:780px;
 }
.portrait-header p .pic {
    float: left;
    margin-right: 20px;
    width:42px;
    height:42px;
}
.portrait-header p .pic img
{
  width:100%;
  height:100%;
  border-radius:100%;  
 }
.newportrait p
{
  line-height: 65px;
  margin-top:22px;
  border:1px solid #f0f0f0;
  height:64px; 
  border-left:none;
  border-right:none; 
}
.newportrait p em
{
 color:#5c5c5c;   
 }
 .newportrait p em:nth-child(2)
{
    width:186px;
    margin-right:0px;
    text-align:left;
    
    }
.newportrait p em:nth-child(3)
{
    width:330px;
    margin-right:0px;
    margin-left:0 !important;
     text-align:left;
    
    }
 .newportrait p em i
 {
     font-family: Arial;
    font-weight: bold;
    color: #5c5c5c;
     
     }
.bdshare-button-style0-32 a
{
  margin-top:16px;  
 }
.hren-header
{
    height:114px;
    margin-top:26px;
    position:relative;
    background: url(/template/img/zuozhebg.jpg) no-repeat;

}
.hren-header span
{
       position:absolute;
       font-size:13px;
       color:#c4c4c4;
}
.hren-header .cbhren
{
    left:62px;
    top:29px;
 }
.hren-header .hrenID
{
      left:134px;
      top:29px;
}
.hren-header .hrenfans
{
     left:160px;
     top:52px;
}
.hren-header .hrentx
{
   height:90px;
   width:90px;
   border:1px solid #e4e4e5;
   border-radius:100%;
   left:285px;
   top:12px; 
 }
 .hren-header .hrentx img
 {
     width:100%;
     height:100%;
      border-radius:100%;
     }
 .hren-header .hrenfonc
 {
     left:410px;
     top:22px;
     
  }
 .hren-header .hrenfc
 {
     left:482px;
     top:22px;
     
     }
 .hren-header .hrenName
 {
     left:410px;
     top:53px;
     font-size:17px;
     color:#333333;
  }
  .hren-header .hrenloc
  {
      left:410px;
      top:77px;
      height:27px;
      width:161px;
      line-height:27px;
      font-size:13px;
      color:#676767;
      border-top:1px solid #d2d2d2;
  }
  .hren-header .hrenloc em
  {margin-left:5px;
   }
  .main-content-body
  {
      margin-top:40px;
   }
 .hren-header a
 {
   position:absolute;
   width:30px;
   height:29px;
   display:inline-block;
   top:22px;
   cursor:pointer;
      
 }
 .hren-header a img
 {
     width:100%;
     height:100%;
     
  }
  .hren-header .hrenfasixin
  {
      left:668px;
      }
 .hren-header .hrenjiaguanzhu
 {
     left:709px;
  }
.famous
{
  width:780px;
  height:318px;
   background: url(/template/img/persontuijian.jpg) no-repeat;
   position:relative;
}
.famous .famous-person
{
  width:238px;
  height:228px;
  top:39px;
  
  border-right:1px dashed #f2f2f2;
  position:absolute;
}
.famous-person .famous-head
{
 
    height:149px;
    width:149px;
    border:1px solid #d0d1d2;
    border-radius:100%;
    display:inline-block;
    text-align:center;
    line-height:149px;
    margin-top:7px;
    margin-left:51px;
}
.famous-person .famous-head:hover
{
    background:#fff;
    
    }
.famous-person .famous-head img
{
    height:124px;
    width:124px;
    border-radius:100%;
    
}
.famous-person a
{
   display:inline-block;
   width:68px;
   height:22px;
   border:1px solid #be1c23;
   position:absolute;
   line-height:22px;
   text-align:center;
   background:#fff;
   color:#be1c23;
   font-size:14px;
}
.famous-person .famous-letter
{
    left:51px;
    top:197px;
 }
 .famous-person .famous-fouc
{
    left:135px;
    top:197px;
 }
.famous-person a:hover
{
    background:#be1c23;
    color:#fff;
 
}
.famous-person span
{
  position:absolute;
  left:104px;
  top:168px;
  font-size:15px;
  color:#333333;
 }
 .famous-relative h4
 {
    font-weight:100;
    font-size:17px;
    color:#333333;
    position:absolute;
    left:291px;
    top:49px;
     
 }
 .famous-relative p
 {
     display:inline-block;
     width:440px;
     height:54px;
     line-height:27px;
     color:#aeb0b2;
     font-size:15px;
     position:absolute;
     left:291px;
     top:69px;
 }
 .famous-relative a
 {
     display:inline-block;
     width:440px;
     height:54px;
     line-height:27px;
     color:#aeb0b2;
     font-size:15px;
     
  }
.famous-relative a i
{
   color:#333；
}
.other-person
{
    width:434px;
    height:81px;
    position:absolute;
    left:291px;
    top:153px;
}
.other-person .g-scrollSix
{
    margin-left:42px;
    margin-top:0px;
    width:359px;
    height:81px;
 }

.other-person .g-scrollSix .black_box_content {
    height: 81px;
    margin-right: 20px;
    overflow: hidden;
    width: 3000px;
}
.other-person .g-scrollSix .black_box_content .item {
    float: left;
    height: 81px;
    overflow: hidden;
    position: relative;
    width: 90px;
}
.other-person .g-scrollSix .black_box_content .item a
{
    width:100%;
    height:100%;
    display:inline-block;
    }
.other-person .g-scrollSix .black_box_content .item img
{
    width:81px !important;
    height:81px !important;
    border-radius:100%;
    }
 .g-pic a .c-page
 {
     display:none;
 }
 .g-pic a .c-price 
 {
     display:none;
  }
.other-person  .btnleft
{
    width:22px;
    height:32px;
    text-align:center;
    line-height:32px;
    color:#fff;
    background:#f3f5f6 !important;
    background-position:1000px;
    position:absolute;
    top:24px;
    font-size:29px;
     cursor:pointer;
  }
  .other-person  .btnright
{
    width:22px;
    height:32px;
    text-align:center;
    line-height:32px;
    color:#fff;
    background:#f3f5f6 !important;
    background-position:1000px;
    position:absolute;
    right:0px;
    top:24px;
    font-size:29px;
    cursor:pointer;
  }
  .weibatip
  {
     width:781px;
     height:100px;
     margin-top:21px;
   }
 .relative-read
 {
     width:780px;
     height:346px;
     position:relative;
 }
 .relative-read h4
 {
     width:780px;
     height:47px;
     line-height:47px;
     border-bottom:4px solid #000000;
     color:#222222;
     font-size:22px;
 }
 .relative-read .g-scrollEight
{
    width:429px;
    height:280px;
    overflow:hidden;
    position:relative;
    margin-top:20px;
}
.relative-read .black_box_content {
    height: 280px;
    margin-right: 20px;
    overflow: hidden;
    width: 3000px;
}
.relative-read .black_box_content .item {
    float: left;
    height: 280px;
    overflow: hidden;
    position: relative;
    width: 429px;
}
.relative-read .black_box_content .item img
{
    height:280px !important;
    width: 429px !important;
    }
 .relative-read .g-scrollEight .btn {
    background: rgba(0, 0, 0, 0) url("/template/img/information/arrow.png") no-repeat scroll 8px -62px;
    cursor: pointer;
    height: 58px;
    left: 10px;
    margin-top: -29px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 3;
}
 .relative-read .g-scrollEight .right {
    background-position: -36px -61px;
    left: auto;
    right: 10px;
}

.relative-read-list
{
    width:292px;
    height:280px;
    position:absolute;
    left:486px;
    top:69px;
}
.relative-read-list li
{
    width:292px;
    height:83px;
    overflow:hidden;
    margin-top:10px;
}
.relative-read-list li span
{
    font-size:12px;
    color:#b1b1b1;
    
}
.relative-read-list li a
{
    display:block;
    font-size:15px;
    color:#323232;
    line-height:27px;
    height:55px;
    overflow:hidden;
}
.relative-read-list .mar0
{
    margin-top:0;
    
}
.relative-read .fg-line
{
    width:11px;
    height:280px;
    position:absolute;
    left:458px;
    top:69px;
    background: url(/template/img/fg-line.jpg) no-repeat;
}
.claint-main
{
    width:780px;
    height:auto;

}
.claint-main-list
{
    width:780px;
    height:220px;
    border-bottom:1px solid #dcdcdc;
    position: relative;
    margin-top:41px;
 }
 .claint-main-list dt
 {
     width:300px;
     height:200px;
  }
 .claint-main-list dt a
 {
     display:block;
     width:300px;
     height:200px;
  }
.claint-main-list dt a img
 {
     width:300px;
     height:200px;
  }
  .claint-main-list dd
  {
      width:432px;
  }
   .claint-main-list dd h3
   {
     width:431px;
     overflow:hidden;
   }
 .claint-main-list dd h3 a
 {
     width:432px;
     overflow:hidden;
     display:block;
     position:absolute;
     color:#222222;
     font-weight:900;
     font-size:21px;
     left:331px;
     top:0;
     height:22px;
     
  }
.claint-main-list p
{
    display:block;
    width:431px;
    overflow:hidden;
    height:74px;
    line-height:23px;
    position:absolute;
    left:331px;
    top:31px;
 }
 .claint-main-list p a
 {
     color:#aeb0b2;
     font-size:12px;
  }
.claint-main-list dd span
{
    display:block;
    width:431px;
    position:absolute;
    left:331px;
    top:170px;
    
}
.claint-main-list dd span i
{
    display:inline-block;
    padding:7px;
    border:1px solid #c9c9c9;
    color:#5a5b5d;
    font-size:12px;
    border-radius:3px;
    margin-left:12px;
}
.claint-main-list dd span .mar0
{
    margin-left:0px;
}
.public_footer .codeB {
    border-top: 6px solid #eeeeee;
}
.hot-gg
{
    width:780px;
    height:64px;
    margin-top:20px;
    margin-bottom:33px;
 }
 .hot-gg .mar0
 {
   margin-left:0px;
 }
.hot-gg p
{
    width:208px;
    height:64px;
    display:block;
    float:left;
    overflow:hidden;
   margin-left:39px;
}
.hot-gg p a
{
    width:208px;
    height:64px;
    display:block;
   overflow:hidden;
   color:#555555;
   font-size:15px;
   line-height:36px;
}
.rightSide-item h3 {
    background: rgba(0, 0, 0, 0) url("/template/img/topshot.jpg") no-repeat scroll 0 0;
    color: #fff;
    height: 40px;
    width:330px;
    background-size:100%;
}
.detail-newtop
{
    margin-top:0px;
    width:330px;
    border-bottom: 13px solid #000000;
    
}
.detail-newtop .tops
{
    height:50px;
    width:330px;
    background: rgba(0, 0, 0, 0) url("/template/img/detail-topnews.jpg") no-repeat scroll 0 0;
    background-size:100%;
    
}
.detail-newtop ul
 {
     width:330px;
     background:#fff;
     margin-left:0px;
  }
  .detail-newtop ul li
  {
      width:330px;
      height:50px;
      line-height:50px;
      border-bottom:1px solid #c9c9c9;
      overflow:hidden;
  }
  .detail-newtop ul li a
  {
      font-size:16px;
      width:276px;
      margin-left:23px;
   }
  .detail-newtop ul li i
   {
      font-size:24px;
      margin-left:13px;
}
.rightSide-item3 h3
{
    background:#e5e5e5;
    height:50px;
    
}
.rightSide-item3
{
    margin-top:30px;
    
    }
.rightSide-item3 h3 span
{
    width:100px;
    height:50px;
    color:#323232;
    font-size:15px;
    text-align:center;
    line-height:50px;
    display:inline-block;
 }
 .rightSide-item3 h3 .active3
 {
     background:#323232;
     color:#fff
     
}
.rightTop-ad-box1
{
    
    height:310px;
 }
.rightTop-ad-box1 .item img
{
    width:200px !important;
    height:200px !important;
    border-radius:100%;
}
.rightTop-ad-box1 .g-scrollSeven .black_box_content .item {
    background: #f2f2f2 none repeat scroll 0 0;
    float: left;
    height: 280px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 300px;
    padding-top:21px;
}
.rightTop-ad-box1 .g-scrollSeven .btn 
{

   margin-top: -57px;

}
.rightTop-ad-box1 .item p
{
    display:block;
    position:absolute;
    left:93px;
    top:230px;
 }
 .rightTop-ad-box1 .item p a
 {
     display:block;
     color:#333333;
     font-size:15px;
      margin-top:5px;
     
 }
 .rightTop-ad-box1 .item p span
 {
     display:block;
     color:#aa0000;
     margin-top:5px;
  }
  
.ltjh
{
   width:330px;
}
.ltjh h3
{
    height:50px;
    width:330px;
    line-height:50px;
   
    font-size:23px;
    color:#000000;
}
.ltjh dl
{
    border-top:4px solid #000;
    width:330px;
    height:232px;
    margin-top:31px;

}
.ltjh .mar10
{
    margin-top:0px;
 }
.ltjh dl dt
{
    width:330px;
    height:200px;
    margin-top:10px;
}
.ltjh-list dt a
{
    width:330px;
    height:200px;
}
.ltjh-list dt a img
{
    width:330px;
    height:200px;
}
.ltjh-list dd
{
    width:330px;
    text-align:center;
    padding-top:7px;
}
.ltjh-list dd a
{
    color:#222222;
    font-size:12px;
}
.everyday-pick
{
    margin-top:16px;

    }
.everyday-pick h3
{
    border-bottom:4px solid #000;
}
.rightTop-ad-box2
{
   margin-top:10px;
       width:330px;
    height:390px;
}
 .rightTop-ad-box2 .g-scrollSeven .black_box_content .item {
    float: left;
    height: 390px;
    overflow: hidden;
    position: relative;
    width: 330px;
}
.rightTop-ad-box2 .item p
{
    display:block;
    position:absolute;
    left:18px;
    top:255px;
    width:300px;
    height:74px;
    text-align:center;
    z-index:1000;
 }
 .rightTop-ad-box2 .item .everyday-pickC
 {
    display:block;
    position:absolute;
    left:18px;
    top:255px;
    width:300px;
    height:74px;
    background:black;
    filter:alpha(opacity=30);   
    -moz-opacity:0.3;   
    -khtml-opacity: 0.3;   
    opacity: 0.3; 
       z-index:100;
     }
 .rightTop-ad-box2 .item p a
 {
     display:block;
     color:#fff;
     font-size:17px;
     margin-top:16px;
     
 }
 .rightTop-ad-box2 .item p span
 {
     display:block;
     color:#fff;
     margin-top:9px;
     font-size:14px;
  }
  .rightTop-ad-box2 .g-scrollSeven .btn {
    background: rgba(0, 0, 0, 0) url("/template/img/information/arrow.png") no-repeat scroll 18px 0;
    cursor: pointer;
    height: 58px;
    left: 215px;
    margin-top: -29px;
    position: absolute;
    top: 91%;
    width: 30px;
    z-index: 3;
}
.rightTop-ad-box2 .g-scrollSeven .right {
    background-position: -48px 0;
    left: auto;
    right: 10px;
}
.detailhot-soso
{
    border: none;
    clear: both;
    margin-top: 20px;
    width: 330px;
    }
.detailhot-soso h3 {
    margin-left: 0px;
    width: 330px;
}
.detailhot-soso .soso-box {
    line-height: 32px;
    padding-bottom: 20px;
    width: 330px;
}
.rightTop-ad-box-detail .item span
{
    display:block !important;
}
.textShare {
    width: 223px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    margin: 0 auto;
    margin-top:19px;
    display:block;
}
.textShare i {
    width: 49px;
    float: left;
    overflow: hidden;
    display:block;
}
.everyday-pick .g-pic a img
{
    width:330px !important;
    }
 .main-content
 {
         font-family: 'Hiragino Sans GB','Microsoft YaHei','simsun';
     }
.main-content .portrait-header .org
{
    width: 330px;
    height: 42px;
    overflow: hidden;
    float: left;
    display:block;
    margin-top:11px;
    line-height: 42px;
    color: #5c5c5c;
    font-size:14px;
    text-align:left;
    }
 .org i {
    margin-right: 20px;
    font-size:14px;
}
 .org a
 {color: #353535;
  font-size:14px;
     
     }
 .org a:hover
 {
     color:#f60;
     
     }