
#parse("/head_article.html")
<link rel="stylesheet" type="text/css" href="/template/style/Article/Article.css">

    <link rel="stylesheet" type="text/css" href="/template/style/article/information_new.css">
    
<link rel="stylesheet" type="text/css" href="/template/style/article/newlist.css">
    
    <style type="text/css">
        .container {
            padding-top: 0px;
        }
        .container-header{margin-bottom:15px;}
        
        
        .friendLink{
	        padding: 40px 0;
	        line-height: 30px;
	        background-color: #f2f2f2;
            text-align: center;
        }
        .friendLink h2{
	        float: left;
	        margin-right: 32px;
	        font-size: 14px;
	        font-weight: bold;
	        line-height: 30px;
        }
        .friendLink .box div{
	        color: #a1a1a2;
	        font-family: simsun;
	        font-size: 0;
        }
        .friendLink a{
	        color: #616161;
	        font-size: 12px;
        }
        .friendLink a:hover{
	        text-decoration: underline;
        }
        .friendLink i{
	        margin: 0 10px;
	        font-size: 12px;
        }

        .friendLink i, .friendLink a {
            vertical-align: middle;
            white-space: nowrap;
        }
        .friendLink .box {
            display: inline-block;
            max-width: 1160px;
            overflow: hidden;
            text-align: left;
            vertical-align: middle;
            width: auto;
        }
        .friendLink .box h2 {
            display: inline-block;
            float: none;
            vertical-align: top;
        }
        .friendLink .box div {
            display: inline-block;
            vertical-align: top;
        }
        .friendLink h2 {
            color: #000000;
            float: left;
            font-size: 12.5px;
            font-weight: bold;
            line-height: 30px;
            margin-right: 32px;
        }
        
        /* css 重置 */
		*{margin:0; padding:0; list-style:none; }
		body{ background:#fff; font-family: 'Hiragino Sans GB','Microsoft YaHei','simsun';  }
		img{ border:0;  }
		a{ text-decoration:none; color:#333;  }
		a:hover{ color:#c0292a;  }


		/* 本例子css */
		.txtMarquee-top{ width:450px;  overflow:hidden; position:relative; float:right;width:333px;color:#999; }
		.txtMarquee-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
		.txtMarquee-top .hd .prev,.txtMarquee-top .hd .next{ display:block;  width:9px; height:5px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
			 cursor:pointer; background:url("../images/arrow.png") 0 -100px no-repeat;}
		.txtMarquee-top .hd .next{ background-position:0 -140px;  }
		.txtMarquee-top .hd .prevStop{ background-position:-60px -100px;  }
		.txtMarquee-top .hd .nextStop{ background-position:-60px -140px;  }
		.txtMarquee-top .bd{  left: 29px;
    padding: 15px;
    position: absolute;
    top: 0px; }
		.txtMarquee-top .infoList li{ height:20px; line-height:20px;overflow:hidden;}
		.txtMarquee-top .infoList li a{color:#999;}
		.txtMarquee-top .infoList li a:hover{color:#c0292a;}
		.txtMarquee-top .infoList li .date{ float:right; color:#999;}
		.pagination-box li {
            border-bottom:none;
          }
         
           .page_list a.N-commonNext{
                width: 108px;
                height: 53px;
                line-height: 53px;
                border: 1px solid #f2f2f2;
                color: #f2f2f2;
                background: url("/template/img/share/public_bg.png") no-repeat;
                background-position: -251px -296px;
                 text-indent: 39px;
                font-size: 16px;
            }

           .page_list {
                width: 760px;
                height: 55px;
                line-height: 55px;
                overflow: hidden;
                text-align: center;
                font-size: 18px;
                padding: 40px 0 0;
                position:relative;
          }
           .page_list li a{ 
                height: 53px;
                line-height: 53px;
                padding-top:0px;
                margin:0px;
          }
          .pagination-box a {
            background-color: #fff !important;
            color: #ccc;
           }
           .page_list_current
           {
               background:none;
               color:red;
           }
           .xwk
           {
               font-size:16px;
               float:right;
           }
        .zixun-title
        {
            border:none;
            }
        .list-box-left .sz-nav {
            padding-bottom: 10px;
          
            width: 100%;
            padding-top: 10px;
            margin-left:-13px;
        }
            .list-box-left .sz-nav li
        {
            padding-bottom:0px;
            margin-bottom:0px;
            border:1px;
            margin-left:13px;
            
                
        }
        .list-box-left .sz-nav li a {
        display: inline;
        padding: 2px 10px;
        color: #010101;
        font-size: 17px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
    }
    .list-box-left .sz-nav li.cur a
    {
        border:1px solid #ff5400;
        color:#ff5400;
        }
    .list-box-left li {
        margin-bottom: 20px;
        border-bottom: 0px;
        padding-bottom: 18px;
        border-top: 1px solid #ebebeb;
    }

    </style>
    
      <!--  <div style="width:100%;height:1px;margin-top:27px;clear:both"></div>-->
	<!-- 主体 -->

    
     <div class="list-tip" style="display:none;">
           $!mbxnav
     </div>



	<div class="container box list-box clearfix" style="width:1200px;">
        
          #if($!type==40)
                <div style="margin-top:26px;margin-bottom:40px;"><a href="/xwk_subject" title="星网咖"  target="_blank"><img src="/template/img/xwkbig.png" alt="星网咖"></a></div>
            #end
       
		<div class="list-box-left">
            
		    <ul class="sz-nav">
               $!stypelist
           </ul>
			<ul class="list-detall">
				
                $!list

			</ul>

			<div class="pagination-box">
				$!listPage
			</div>
		

		</div>

        

		
					<div class="main-contentSide">

				
		               

                        <div class="ltjh everyday-pick" style="margin-top:0;">

					        <div class="rightTop-ad-box2 rightTop-ad-box">

					            <div id="scrollFourteen_men" class="g-scrollSeven">
                                    <div class="black_box_content">
                                        $!mrjx_ad
                                    </div> 
                                    <div class="btn left" id="scrollFourteen_men_left"></div>
                                    <div class="btn right" id="scrollFourteen_men_right"></div>
				                </div>
					       </div>
                           <script>
                               for (var k = 0; k < $("#scrollFourteen_men .item").length; k++) {
                                   $("#scrollFourteen_men .item span i").eq(k).html(k + 1);
                               };
                               $("#scrollFourteen_men .item span b").html($("#scrollFourteen_men .item").length);
                           </script>
				        </div>




                        <div class="todayHot">
                              <div class="tit">
                                <span>
                                  今日热点
                                  <i></i>
                                </span>
                              </div>
                              <div class="news" id="today_news">
                                
                              </div>

                              <div class="today_jrrd_all" style="display:none;">
                                $!jrrd
                              </div>

                              <div class="change">
                                <a id="today_btn" class="button_btn" href="javascript:;" title="换一组看看"><em></em><i>换一组看看</i></a>
                              </div>
                              
                    </div>






                        <div class="line" style="margin-top:0px;"></div>

                        <div class="hot-soso detailhot-soso" style="margin-top:-4px;">
                            <h3>大家都在搜</h3>
                            <div class="soso-box" style="padding-top:16px;">
                                $!djdzs
                            </div>
            
                      </div>
  
				</div>



        <input type="hidden" id="hidtype" value="$!type" />
        <input type="hidden" id="hidstyle" value="$!stype" />

	</div>
	<!-- /主体 -->


    $!foot_link

		<!--底部-->
    #parse("/foot_index.html")

	<script type="text/javascript">

	    yo.search('search', '输入您要搜索的内容');

	    function search_result() {
	        var key = jQuery.trim($("#keywordss").val());

	        if (key == "" || key == "输入您要搜索的内容") {
	            FunMsg("输入您要搜索的内容!");
	            return false;
	        }
	        else {

	            window.location.href = "/hren/search_1_" + key;
	            return false;

	        }
	    }

	    yo.scroll({
	        id: 'scrollSix_men',
	        boxTag: 'div',
	        singleTag: 'div',
	        leftBtn: 'scrollSix_men_left',
	        rightBtn: 'scrollSix_men_right',
	        loop: true,
	        auto: true,
	        time: 2000
	    });
	    yo.scroll({
	        id: 'scrollSeven_men',
	        boxTag: 'div',
	        singleTag: 'div',
	        leftBtn: 'scrollSeven_men_left',
	        rightBtn: 'scrollSeven_men_right',
	        loop: true,
	        auto: true,
	        time: 2000
	    });

	    $(window).scroll(function () {
	        var mTop = $('.line')[0].offsetTop;
	        var sTop = $(window).scrollTop();
	        var result = mTop - sTop;
	        if (result <= 0) {
	            $('.hot-soso').css("position", "fixed").css("top", "0px");
	            if ($(document).height() - sTop - ($(".soso-box").height() + 40) <= 460) {
	                $('.hot-soso').css("position", "relative");
	               
	            } else {
	                $('.hot-soso').css("position", "fixed").css("top", "0px");
	            }
	        } else {
	            $('.hot-soso').css("position", "static");
	        }

	    })



	    var cindex = 0;

	    //换一组
	    change_next_div_html();

	    $(document).on("click", "#today_btn", function () {
	        change_next_div_html();
	    });

	    function change_next_div_html() {
	        var today_div_obj = $(".today_jrrd_all .today_div");
	        var today_div_len = today_div_obj.length;

	        if (cindex >= today_div_len) {
	            cindex = 0;
	        }

	        $("#today_news").html(today_div_obj.eq(cindex).html());

	        cindex++;
	    }

    </script>
    <script type="text/javascript" src="/template/js/article/jquery.SuperSlide.2.1.1.js"></script>

	<script type="text/javascript" src="/template/js/article/article.js"></script>

<script type="text/javascript" src="/template/js/common/jquery.slides.min.js"></script>



