#parse("/Head.html")

	<link rel="stylesheet" type="text/css" href="/template/style/userlogin/login.css">

	<!-- 主体 -->
	<div class="login-container clearfix">
		
		<div class="login-container-left">
			<img src="/template/img/login.jpg" height="573" width="884" alt="衣品搭配">
		</div>

		<div class="login-form">
			
			<h3 class="login-form-top clearfix">
				<em>登录</em>
				<span>尚未注册？<a href="/register" title="免费注册">免费注册</a></span>
			</h3>

			<p class="hasicon icon-phone">
				<input type="text" name="" id="tel" placeholder="手机" value="" maxlength="11">
			</p>

			<p class="hasicon icon-clock">
				<input type="password" name="" id="pwd" placeholder="密码" value="" maxlength="16">
			</p>

			<p class="verify-box">
				<input type="text" name="" id="captcha" placeholder="验证码" value="" maxlength="4">
                <img id="verifyimage" src="/template/Handle/verifyimgt${exname}?id=$code" data_code="$code" class="shut" alt="验证码" style="width:112px;height:40px;" />
				<span>看不清？<a href="javascript: void(0);" onclick="verc();" title="换一张">换一张</a></span>
			</p>
			<p class="pwd-option-box clearfix">
				<span>
					<input type="checkbox" name="" id="remember-pwd">
					<label for="remember-pwd">记住密码</label>
				</span>
				<a href="/findpwd" title="找回密码">找回密码</a>
			</p>

			<p>
				<button onclick="new_islogin(1)">登录</button>
			</p>


		</div>

	</div>
	<!-- /主体 -->
	
	<!--底部-->
    #parse("/Foot.html")

    <script type="text/javascript" src="/template/js/userlogin/login_person.js"></script>