#parse("/Head.html")

	<link rel="stylesheet" type="text/css" href="/template/style/userlogin/login.css">

	<!-- 主体 -->
	<div class="login-container clearfix">
		
		<div class="login-container-left">
			<img src="/template/img/register.jpg" height="573" width="884" alt="衣品搭配">
		</div>

		<div class="login-form register-form">
			
			<h3 class="login-form-top clearfix">
				<em>注册</em>
				<span>已有账号？<a href="/login" title="登录">登录</a></span>
			</h3>
            
			<p class="hasicon icon-phone">
				<input type="text" name="" id="tel" value="" placeholder="手机" maxlength="11">
			</p>

			<p class="verify-box">
				<input type="text" name="" id="captcha" value="" placeholder="验证码" maxlength="6">
				<button id="send_codes" class="send">发送验证码</button>
			</p>

			<p class="hasicon icon-clock">
				<input type="password" name="" id="upwd" value="" placeholder="密码" maxlength="16">
			</p>

			<p class="hasicon icon-clock">
				<input type="password" name="" id="uqpwd" value="" placeholder="确认密码" maxlength="16">
			</p>

			<p class="hasicon icon-man">
				<input type="text" name="" id="uname" value="" placeholder="昵称" maxlength="16">
			</p>

			<p>
				<button onclick="IsRegister()">注册</button>
			</p>

		</div>

	</div>
	<!-- /主体 -->

	<!--底部-->
    #parse("/Foot.html")

    <script type="text/javascript" src="/template/js/userlogin/register_person.js"></script>
