.container .box{
	overflow: hidden;
}
.modify-box{
	margin-top: 50px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

.tab-box{
	border-bottom: 1px solid #dcdcdc;
	font-size: 0;
	background-color: #f8f8f8;
}
.tab-box a{
	display: inline-block;
	width: 138px;
	height: 48px;
	margin-top: -1px;
	border-top: 2px solid transparent;
	border-right: 1px solid #dcdcdc;
	color: #000;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 48px;
	text-align: center;
}
.tab-box .active{
	border-top-color: #991010;
	font-weight: bold;
	background-color: #fff;
}

.tab-content{
	padding-top: 66px;
	padding-bottom: 120px;
}
.tab-content .b{
	display: block;
	font-size: 0;
	padding-bottom: 48px;
}
.tab-content label{
	display: inline-block;
	width: 354px;
	margin-right: 18px;
	color: #505050;
	font-size: 14px;
	text-align: right;
	vertical-align: middle;
}

.tab-content input[type="text"],.tab-content input[type="password"]{
	width: 318px;
	height: 38px;
	border: 1px solid #ccc;
	padding-left: 20px;
	font-size: 14px;
	line-height: 38px;
}
.tab-content input[type="file"]{
	position: absolute;
	left: 0;
	top: 0;
	width: 90px;
	height: 28px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.upload-box{
	position: relative;
	display: inline-block;
	width: 90px;
	height: 28px;
	margin-left: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 2px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 28px;
	text-align: center;
	background-color: #e8e8e8;
}
.err{
	margin-left: 1em;
	color: #f00;
	font-size: 12px;
}
.btns-box{
	padding-left: 372px;
}
.btns-box button{
	display: inline-block;
	width: 120px;
	height: 40px;
	border: 0;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 40px;
	background: url(/template/img/btn1.png) no-repeat 0 0;
	cursor: pointer;
}
.btns-box button:nth-child(1){
	color: #fff;
}
.btns-box button:nth-child(2){
	margin-left: 78px;
	color: #505050;
	background-position: 0 -40px;
}

.modify-pwd-box{
	padding-top: 92px;
	padding-bottom: 168px;
}
.modify-pwd-box .b{
	padding-bottom: 20px;
}
.modify-pwd-box .b.btns-box{
	padding-top: 20px;
}

 .DIY-layer {
    background: rgba(0, 0, 0, .5) url("/template/img/cutimg/alpha10.png") repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.uploads-img {
    background-color: #fff;
    left: 50%;
    margin-left: -450px;
    min-width: 478px;
    position: absolute;
    top: 100px;
    z-index: 100;
}
.uploads-img {
    border-radius: 5px;
    width: 654px;
}
.uploads-img h3 {
    background-color: #f0f0f0;
    border-radius: 5px 5px 0 0;
    height: 40px;
    line-height: 40px;
    padding-left: 24px;
    position: relative;
}
.uploads-img h3 em {
    color: #333;
}
.uploads-img h3 a {
    background: rgba(0, 0, 0, 0) url("/template/img/cutimg/layerDelBtn.png") no-repeat scroll 0 0;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 10px;
}