#parse("/Head.html")

	<link rel="stylesheet" type="text/css" href="/template/style/PersonalCenter/modify.css">

	<!-- 主体 -->
	<div class="container">

		<div class="box">
			
			<div class="modify-box">
				
				<div class="tab-box">
					<a href="/people_c">基础资料</a>
					<a class="active" href="/people_c/pwd_set">修改密码</a>
				</div>

				<div class="tab-content modify-pwd-box">
					
					<span class="b">
						<label>原始密码：</label>
						<input type="password" name="" id="old_pwd" value="" maxlength="16" placeholder="请输入原密码">
						<b class="err"></b>
					</span>

					<span class="b">
						<label>新密码：</label>
						<input type="password" name="" id="upwd" value="" maxlength="16" placeholder="请输入新密码">
						<b class="err"></b>
					</span>

					<span class="b">
						<label>确认密码：</label>
						<input type="password" name="" id="uqpwd" value="" maxlength="16" placeholder="请输入确认密码">
						<b class="err"></b>
					</span>

					<span class="b btns-box">
						<button onclick="Update_Pwd()">完成修改</button>
					</span>

				</div>

			</div>

		</div>

	</div>
	<!-- /主体 -->
        	
	<!--底部-->
    #parse("/Foot.html")

    <script  type="text/javascript" src="/template/js/personalcenter/setting/pwdset.js"></script>