

#parse("/head_index.html")

<link rel="stylesheet" type="text/css" href="/template/style/article/newlist.css">
<style>
    .g-content {
        width: 1200px;
    }
    #info-index .box {
        width: 1200px;
    }
    .content
    {
        margin-top:30px; 
     }
     .box
     {
         width:1200px !important;
      }
</style>
		<!-- 主体 -->
		<div class="content">
			<div class="box">

                <!--广告图-->
                
				<!-- 第一栏 -->

                <div class="g-content clearfix m-first">
					<div class="first clearfix">
						<div class="g-main fleft">
							<!-- focus begin -->
							<div class="g-focus" id="m-first-focus">
								<div class="foucs">
                                    $!topadimg
								</div>
							</div>
							<!-- focus end -->
						</div>
				
					</div>
				</div>

                <!--类型列表-->
				$!Second_Third

			</div>
		</div>


#parse("/foot_index.html")
