html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img,
small, strike, strong,b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-style: normal;
  word-wrap:break-word;
}
h1,h2,h3,h4,h5,h6 {
	font-family:inherit;
	font-weight:normal;
	line-height:1em;
	color:inherit;
	text-rendering:optimizelegibility
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight:normal;
	line-height:1;
}
html {line-height: 1;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; font-family: "microsoft yahei"; height: 100%;}
html,body{ min-width: 1022px;overflow:hidden;}
ol, ul {list-style: none;}
li{list-style-type:none;}
table {border-collapse: collapse;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;vertical-align: middle;}
q, blockquote {quotes: none;}
q:before, q:after, blockquote:before, blockquote:after {content: "";content: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}
img {border: none;vertical-align: middle;}/*
::selection {color: #fff;background-color: #3EAF0E;}
::-moz-selection {color: #fff;background-color: #3EAF0E;}*/
pre{white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; white-space: pre-wrap }
input,textarea{outline:none;}
a{color:#585858;text-decoration: none; outline: none;transition: all .5s linear;}
a:focus {outline:none; -webkit-focus-ring-color;outline-offset:-2px}
a:hover {outline:0; }
a.unlink{ cursor: text;}
button, input, select, textarea {margin:0;padding:0;font-size:100%;vertical-align:middle;font-family: "microsoft yahei"; }
textarea {overflow:auto;vertical-align:top}

.clearfix {*zoom:1}.clearfix:before, .clearfix:after {display:table;line-height:0;content:""}.clearfix:after {clear:both}


.layerBoxContent{width:600px; padding: 30px;}
.cut-area{float: left; width: 320px;height: 320px;border: 1px solid #ccc; }
.uploadPic{float: left;*width: 224px; margin-left: 34px;}
.uploadPic em{display: block;padding-top: 10px; text-align: center;font-size: 12px;color: #333;}
.uploadPic span{display: inline-block;text-align: center;}

.uploadPic .u-img160{overflow:hidden;}
.uploadPic .u-img160-tip{width:160px;padding-bottom:30px;}
.u-img160 img{width: 160px;height: 160px;max-width: none;}
.u-img80{display:inline-block; width: 80px;height: 80px;overflow:hidden;}
.u-img80 img{width: 80px;height: 80px;max-width: none;}
.u-img40{display:inline-block; width: 40px;height: 40px;overflow:hidden;}
.u-img40 img{width: 40px;height: 40px;max-width: none;}
.uploadPic .u-img40-wrap{vertical-align: top;margin-top: 16px;margin-left: 26px;}

.u-btns{float: left; width: 100%;padding-top: 30px;text-align: center; }
.u-btns a{display: inline-block;width: 114px;height: 30px;margin-left: 30px;line-height: 30px;background: url(/template/img/cutimg/btn3.png) no-repeat 0 -30px;text-align: center;color: #fff;}

.u-btns span {display:inline-block;height: 30px;overflow:hidden;vertical-align:top;}
.u-btns  .uploadify{ margin-bottom:0;}
.u-btns  .swfupload{left:0;top:0;}
.u-btns  .uploadify-button {background: url(/template/img/cutimg/btn3.png) no-repeat 0 0;}
.u-btns  .uploadify:hover .uploadify-button{background: url(/template/img/cutimg/btn3.png) no-repeat 0 0;}
.u-btns .uploadify-button-text{font-size: 14px;font-family: 'microsoft yahei'; text-shadow: none;}
