.login-container{
	min-height: 498px;
	background: url(/template/img/bgIcon.png) repeat-y 0 0 #f8f8f8;
	margin-top: 138px;
	
}
.search-box input[type="button"] {
    top: 34px;
}
.login-container-left{
	float: left;
}

.login-form{
	float: left;
	padding-top: 130px;
	padding-left: 10px;
	color: #505050;
	letter-spacing: 1px;
}
.login-form-top{
	width: 340px;
	padding-bottom: 22px;
}
.login-form-top em{
	float: left;
	font-size: 26px;
}
.login-form-top span{
	float: right;
	margin-top: 12px;
}
.login-form a{
	color: #991010;
}
.login-form a:hover{
	text-decoration: underline;
}

.login-form input[type='text'],.login-form input[type='password']{
	width: 294px;
	height: 38px;
	border: 1px solid #ccc;
	padding-left: 44px;
	line-height: 38px;
}
.login-form p{
	position: relative;
	padding-bottom: 16px;
}

.pwd-option-box{
	width: 340px;
}
.pwd-option-box span{
	float: left;
}
.pwd-option-box span label{
	vertical-align: middle;
}
.pwd-option-box a{
	float: right;
}
.verify-box{
	font-size: 0;
}
.verify-box input[type='text']{
	width: 192px;
	margin-right: 14px;
	padding-left: 20px;
	font-size: 14px;
}
.verify-box span{
	margin-left: 6px;
	font-size: 14px;
	vertical-align: middle;
}

p.verify-box button{
	width: 112px;
	height: 38px;
	margin-top: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 38px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8b1012), to(#731617));
	background: -moz-linear-gradient(top, #8b1012,#731617);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b1012,endColorstr=#731617,grandientType=0);
	background-color: #731617;
}

.login-form button{
	width: 340px;
	height: 46px;
	margin-top: 6px;
	border: 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 46px;
	text-align: center;
	background: url(/template/img/btn.png) no-repeat 0 0;
	cursor: pointer;
}

.login-form p.hasicon:before{
	position: absolute;
	left: 20px;
	top: 10px;
	content: '';
	width: 22px;
	height: 22px;
	background: url(/template/img/icon.png) no-repeat -4px 0;
}
.login-form p.hasicon.icon-clock:before{
	background-position: -3px -22px;
}
.login-form p.hasicon.icon-man:before{
	background-position: -1px -44px;
}

.login-form input:focus{
	border-color: #ffb941;
}

/*宋明亮  注册发送手机验证按钮*/
p.verify-box button.send {
    background: #731617 -moz-linear-gradient(center top , #8b1012, #731617) repeat scroll 0 0;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    margin-top: 0;
    width: 112px;
}

p.verify-box button.gray {
    background: #731617 -moz-linear-gradient(center top ,  #f2f0f0, #e8e8e8) repeat scroll 0 0;
    font-size: 12px;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    margin-top: 0;
    width: 112px;
}
/*END*/

.register-form
{
   padding-top: 72px;
    
    }
