<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>

    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <QQSectionGroup>
    <QzoneSection>
      <add key="AppKey" value="100565317" />
      <add key="AppSecret" value="cfb7cbf86ee5893c49a76ddd198ccc03" />
      <!--<add key="AppKey" value="101136393" />
      <add key="AppSecret" value="0b13f44333f084c8480b56c4b4863541" />-->
      <add key="CallBackURI" value="http://www.xzhichang.com/QQCallback.aspx" />
      <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
    </QzoneSection>
  </QQSectionGroup>


  <connectionStrings>

    <add name="XzcConnectionString" connectionString="server=192.168.168.16;uid=sa;pwd=sa;database=HRENH_YIPINDAPEI;Pooling=true;" />

    <!--存储过程应用-->
    <add name="XzcPro" connectionString="data source=192.168.168.16;initial catalog=HRENH_YIPINDAPEI;user id=sa;password=sa" providerName="System.Data.SqlClient" />

  </connectionStrings>




  <!--映射伪静态-->
  <!--映射伪静态-->
  <RewriterConfig>
    <Rules>

      <!--最新项目////////////////////////////////////////////////红人汇///////////////////////////////////////-->

      <!--首页-->
      <RewriterRule>
        <LookFor>~/index</LookFor>
        <SendTo>~/index.aspx</SendTo>
      </RewriterRule>

      <!--404-->
      <RewriterRule>
        <LookFor>~/404</LookFor>
        <SendTo>~/Error404.aspx</SendTo>
      </RewriterRule>

      <!--注册-->
      <RewriterRule>
        <LookFor>~/register</LookFor>
        <SendTo>~/UserLogin/Register.aspx</SendTo>
      </RewriterRule>

      <!--注册-->
      <RewriterRule>
        <LookFor>~/register/</LookFor>
        <SendTo>~/UserLogin/Register.aspx</SendTo>
      </RewriterRule>

      <!--登录-->
      <RewriterRule>
        <LookFor>~/login</LookFor>
        <SendTo>~/UserLogin/Login.aspx</SendTo>
      </RewriterRule>

      <!--登录-->
      <RewriterRule>
        <LookFor>~/login/</LookFor>
        <SendTo>~/UserLogin/Login.aspx</SendTo>
      </RewriterRule>

      <!--退出-->
      <RewriterRule>
        <LookFor>~/logout</LookFor>
        <SendTo>~/UserLogin/LogOut.aspx</SendTo>
      </RewriterRule>

      <!--退出-->
      <RewriterRule>
        <LookFor>~/logout/</LookFor>
        <SendTo>~/UserLogin/LogOut.aspx</SendTo>
      </RewriterRule>

      <!--找回密码/第一步-->
      <RewriterRule>
        <LookFor>~/findpwd</LookFor>
        <SendTo>~/FindPwd/Step1.aspx</SendTo>
      </RewriterRule>

      <!--找回密码/第二步-->
      <RewriterRule>
        <LookFor>~/findpwd/step2_(\w+)</LookFor>
        <SendTo>~/FindPwd/Step2.aspx?code=$1</SendTo>
      </RewriterRule>

      <!--找回密码/第二步-->
      <RewriterRule>
        <LookFor>~/findpwd/step2_(\w+)/</LookFor>
        <SendTo>~/FindPwd/Step2.aspx?code=$1</SendTo>
      </RewriterRule>

      <!--找回密码/第二步-->
      <RewriterRule>
        <LookFor>~/findpwd/step2/</LookFor>
        <SendTo>~/FindPwd/Step2.aspx</SendTo>
      </RewriterRule>

      <!--找回密码/第三步-->
      <RewriterRule>
        <LookFor>~/findpwd/step3</LookFor>
        <SendTo>~/FindPwd/Step3.aspx</SendTo>
      </RewriterRule>

      <!--找回密码/第三步-->
      <RewriterRule>
        <LookFor>~/findpwd/step3/</LookFor>
        <SendTo>~/FindPwd/Step3.aspx</SendTo>
      </RewriterRule>

      <!--找回密码/第四步-->
      <RewriterRule>
        <LookFor>~/findpwd/step4</LookFor>
        <SendTo>~/FindPwd/Step4.aspx</SendTo>
      </RewriterRule>

      <!--找回密码/第四步-->
      <RewriterRule>
        <LookFor>~/findpwd/step4/</LookFor>
        <SendTo>~/FindPwd/Step4.aspx</SendTo>
      </RewriterRule>


      <!--个人中心/基础资料-->
      <RewriterRule>
        <LookFor>~/people_c</LookFor>
        <SendTo>~/PersonalCenter/Setting/Info_Set.aspx</SendTo>
      </RewriterRule>

      <!--个人中心/基础资料-->
      <RewriterRule>
        <LookFor>~/people_c/</LookFor>
        <SendTo>~/PersonalCenter/Setting/Info_Set.aspx</SendTo>
      </RewriterRule>

      <!--个人中心/修改密码-->
      <RewriterRule>
        <LookFor>~/people_c/pwd_set</LookFor>
        <SendTo>~/PersonalCenter/Setting/Pwd_Set.aspx</SendTo>
      </RewriterRule>

      <!--个人中心/修改密码-->
      <RewriterRule>
        <LookFor>~/people_c/pwd_set/</LookFor>
        <SendTo>~/PersonalCenter/Setting/Pwd_Set.aspx</SendTo>
      </RewriterRule>



      <!--关于我们-->
      <RewriterRule>
        <LookFor>~/aboutus</LookFor>
        <SendTo>~/Help/AboutUs.aspx</SendTo>
      </RewriterRule>

      <!--关于我们-->
      <RewriterRule>
        <LookFor>~/aboutus/</LookFor>
        <SendTo>~/Help/AboutUs.aspx</SendTo>
      </RewriterRule>

      <!--联系我们-->
      <RewriterRule>
        <LookFor>~/linkus</LookFor>
        <SendTo>~/Help/linkus.aspx</SendTo>
      </RewriterRule>

      <!--联系我们-->
      <RewriterRule>
        <LookFor>~/linkus/</LookFor>
        <SendTo>~/Help/linkus.aspx</SendTo>
      </RewriterRule>
      
      
      
      <!--文章列表-->
      <RewriterRule>
        <LookFor>~/article_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=$1</SendTo>
      </RewriterRule>

      <!--文章列表-->
      <RewriterRule>
        <LookFor>~/article_(\d{1,})/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=$1</SendTo>
      </RewriterRule>

      <!--文章列表-->
      <RewriterRule>
        <LookFor>~/article_(\d{1,})_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章列表-->
      <RewriterRule>
        <LookFor>~/article_(\d{1,})_(\d{1,})/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=$1&amp;page=$2</SendTo>
      </RewriterRule>


      <!--文章详情-->
      <RewriterRule>
        <LookFor>~/article_detail_(\d{1,})</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--文章详情-->
      <RewriterRule>
        <LookFor>~/article_detail_(\d{1,})/</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>


      <!--QQ登录-->
      <RewriterRule>
        <LookFor>~/qq</LookFor>
        <SendTo>~/UserLogin/QQlogin.aspx</SendTo>
      </RewriterRule>

      <!--QQ登录-->
      <RewriterRule>
        <LookFor>~/qq/</LookFor>
        <SendTo>~/UserLogin/QQlogin.aspx</SendTo>
      </RewriterRule>

      <!--新浪微博登录-->
      <RewriterRule>
        <LookFor>~/sina</LookFor>
        <SendTo>~/UserLogin/SinaLogin.aspx</SendTo>
      </RewriterRule>

      <!--新浪微博登录-->
      <RewriterRule>
        <LookFor>~/sina/</LookFor>
        <SendTo>~/UserLogin/SinaLogin.aspx</SendTo>
      </RewriterRule>

      <!--微信登录-->
      <RewriterRule>
        <LookFor>~/wechat</LookFor>
        <SendTo>~/UserLogin/WeiXinLogin.aspx</SendTo>
      </RewriterRule>

      <!--微信登录-->
      <RewriterRule>
        <LookFor>~/wechat/</LookFor>
        <SendTo>~/UserLogin/WeiXinLogin.aspx</SendTo>
      </RewriterRule>




      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\新指南重写地址-->


      <!--文章列表，指南-->
      <RewriterRule>
        <LookFor>~/zhinan</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354</SendTo>
      </RewriterRule>

      <!--文章列表，指南-->
      <RewriterRule>
        <LookFor>~/zhinan/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354</SendTo>
      </RewriterRule>

      <!--文章列表，指南-->
      <RewriterRule>
        <LookFor>~/zhinan_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南-->
      <RewriterRule>
        <LookFor>~/zhinan_(\d{1,})/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南-->
      <RewriterRule>
        <LookFor>~/zhinan_(\d{1,})_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;page=$1&amp;stype=$2</SendTo>
      </RewriterRule>

      <!--文章列表，指南-->
      <RewriterRule>
        <LookFor>~/zhinan_(\d{1,})_(\d{1,})/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;page=$1&amp;stype=$2</SendTo>
      </RewriterRule>

      <!--文章列表，指南/潮流元素-->
      <RewriterRule>
        <LookFor>~/zhinan/chaoliuyuansu_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=359&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/潮流元素-->
      <RewriterRule>
        <LookFor>~/zhinan/clys/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=359</SendTo>
      </RewriterRule>

      <!--文章列表，指南/潮流元素-->
      <RewriterRule>
        <LookFor>~/zhinan/clys/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=359&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/服装搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/fuzhuangdapei_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=360&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/服装搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/fzdp/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=360</SendTo>
      </RewriterRule>

      <!--文章列表，指南/服装搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/fzdp/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=360&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/化妆技巧-->
      <RewriterRule>
        <LookFor>~/zhinan/huazhuangjiqiao_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=361&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/化妆技巧-->
      <RewriterRule>
        <LookFor>~/zhinan/hzjq/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=361</SendTo>
      </RewriterRule>

      <!--文章列表，指南/化妆技巧-->
      <RewriterRule>
        <LookFor>~/zhinan/hzjq/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=361&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/活动特惠-->
      <RewriterRule>
        <LookFor>~/zhinan/huodongtehui_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=362&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/活动特惠-->
      <RewriterRule>
        <LookFor>~/zhinan/hdth/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=362</SendTo>
      </RewriterRule>

      <!--文章列表，指南/活动特惠-->
      <RewriterRule>
        <LookFor>~/zhinan/hdth/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=362&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/配饰搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/peishidapei_(\d{1,})</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=369&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，指南/配饰搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/psdp/</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=369</SendTo>
      </RewriterRule>

      <!--文章列表，指南/配饰搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/psdp/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/article_List.aspx?type=354&amp;stype=369&amp;page=$1</SendTo>
      </RewriterRule>


      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\新指南详情重写地址-->

      <!--文章详情，指南-->
      <RewriterRule>
        <LookFor>~/zhinan/detail_(\d{1,}).html</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--文章详情，指南/潮流元素-->
      <RewriterRule>
        <LookFor>~/zhinan/clys/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--文章详情，指南/服装搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/fzdp/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--文章详情，指南/化妆技巧-->
      <RewriterRule>
        <LookFor>~/zhinan/hzjq/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--文章详情，指南/活动特惠-->
      <RewriterRule>
        <LookFor>~/zhinan/hdth/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--文章详情，指南/配饰搭配-->
      <RewriterRule>
        <LookFor>~/zhinan/psdp/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/Article_Subject_Detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\新指南详情重写地址END-->


      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\新指南重写地址END-->




      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\红人资源重写地址-->

      <!--红人资源-->
      <RewriterRule>
        <LookFor>~/ziyuan</LookFor>
        <SendTo>~/HrenRsource/index.aspx</SendTo>
      </RewriterRule>

      <!--红人资源-->
      <RewriterRule>
        <LookFor>~/ziyuan/</LookFor>
        <SendTo>~/HrenRsource/index.aspx</SendTo>
      </RewriterRule>

      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\红人资源重写地址END-->



      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\红人资源详情重写地址-->

      <!--红人资源-->
      <RewriterRule>
        <LookFor>~/ziyuan/detail_(\d{1,}).html</LookFor>
        <SendTo>~/HrenRsource/detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\红人资源详情重写地址END-->




      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\最新资讯（店铺）重写地址-->

      <!--文章列表，最新资讯（上衣）-->
      <RewriterRule>
        <LookFor>~/(\w+)sy/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=49&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（上衣）-->
      <RewriterRule>
        <LookFor>~/(\w+)sy/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=49&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/上衣）-->
      <RewriterRule>
        <LookFor>~/(\w+)sy/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>


      <!--文章列表，最新资讯（裤装）-->
      <RewriterRule>
        <LookFor>~/(\w+)kz/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=50&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（裤装）-->
      <RewriterRule>
        <LookFor>~/(\w+)kz/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=50&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/裤装）-->
      <RewriterRule>
        <LookFor>~/(\w+)kz/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>



      <!--文章列表，最新资讯（裙装）-->
      <RewriterRule>
        <LookFor>~/(\w+)qz/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=51&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（裙装）-->
      <RewriterRule>
        <LookFor>~/(\w+)qz/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=51&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/裙装）-->
      <RewriterRule>
        <LookFor>~/(\w+)qz/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>



      <!--文章列表，最新资讯（女鞋）-->
      <RewriterRule>
        <LookFor>~/(\w+)nx/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=52&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（女鞋）-->
      <RewriterRule>
        <LookFor>~/(\w+)nx/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=52&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/女鞋）-->
      <RewriterRule>
        <LookFor>~/(\w+)nx/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>



      <!--文章列表，最新资讯（包包）-->
      <RewriterRule>
        <LookFor>~/(\w+)bb/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=53&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（包包）-->
      <RewriterRule>
        <LookFor>~/(\w+)bb/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=53&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/包包）-->
      <RewriterRule>
        <LookFor>~/(\w+)bb/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>



      <!--文章列表，最新资讯（配饰）-->
      <RewriterRule>
        <LookFor>~/(\w+)ps/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=54&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（配饰）-->
      <RewriterRule>
        <LookFor>~/(\w+)ps/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=54&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/配饰）-->
      <RewriterRule>
        <LookFor>~/(\w+)ps/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>



      <!--文章列表，最新资讯（美妆）-->
      <RewriterRule>
        <LookFor>~/(\w+)mz/</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=55&amp;prname=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（美妆）-->
      <RewriterRule>
        <LookFor>~/(\w+)mz/index_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?type=55&amp;prname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章详情，最新资讯（详情/美妆）-->
      <RewriterRule>
        <LookFor>~/(\w+)mz/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu_detail.aspx?prname=$1&amp;id=$2</SendTo>
      </RewriterRule>



<!--新网站（搭配、韩系、日系、欧美、精选、搭配指南）-->

      <!--文章列表，最新资讯（搭配）-->
      <RewriterRule>
        <LookFor>~/dapei/</LookFor>
        <SendTo>~/Article/newarticle/dapei.aspx?type=370</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（搭配）-->
      <RewriterRule>
        <LookFor>~/dapei/list_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dapei.aspx?type=370&amp;page=$1</SendTo>
      </RewriterRule>


      <!--文章列表，最新资讯（韩系）-->
      <RewriterRule>
        <LookFor>~/zhuanti/hanxi.html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=406</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（韩系）-->
      <RewriterRule>
        <LookFor>~/zhuanti/hanxi_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=406&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（日系）-->
      <RewriterRule>
        <LookFor>~/zhuanti/rixi.html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=407</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（日系）-->
      <RewriterRule>
        <LookFor>~/zhuanti/rixi_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=407&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（欧美）-->
      <RewriterRule>
        <LookFor>~/zhuanti/oumeiz.html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=408</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（欧美）-->
      <RewriterRule>
        <LookFor>~/zhuanti/oumeiz_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=408&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（矮个子）-->
      <RewriterRule>
        <LookFor>~/zhuanti/agez.html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=417</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（矮个子）-->
      <RewriterRule>
        <LookFor>~/zhuanti/agez_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/subject_about.aspx?type=417&amp;page=$1</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（精选）--><!--
      <RewriterRule>
        <LookFor>~/jingxuan.html</LookFor>
        <SendTo>~/Article/newarticle/jingxuan.aspx</SendTo>
      </RewriterRule>

      --><!--文章列表，最新资讯（精选）--><!--
      <RewriterRule>
        <LookFor>~/jingxuan_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/jingxuan.aspx?page=$1</SendTo>
      </RewriterRule>-->


      <!--文章列表，最新资讯（专题）-->
      <RewriterRule>
        <LookFor>~/zhuanti/</LookFor>
        <SendTo>~/Article/newarticle/subject_index.aspx</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（专题）-->
      <RewriterRule>
        <LookFor>~/zhuanti/list_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/subject_index.aspx?page=$1</SendTo>
      </RewriterRule>

      
      <!--专题栏目下的所有二级和三级的链接-->

      <!--文章列表，最新资讯（所有二级和三级）-->
      <RewriterRule>
        <LookFor>~/zhuanti/(\w+)_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/subject.aspx?srname=$1&amp;page=$2</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（所有二级和三级）-->
      <RewriterRule>
        <LookFor>~/zhuanti/(\w+).html</LookFor>
        <SendTo>~/Article/newarticle/subject.aspx?srname=$1</SendTo>
      </RewriterRule>


      <!--专题栏目下的所有二级和三级的链接END-->


      <!--文章详情，最新资讯（详情/搭配）-->
      <RewriterRule>
        <LookFor>~/dapei/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dapei_detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--新网站（搭配、韩系、日系、欧美、精选、搭配指南）END-->





      <!--文章详情，最新资讯（详情/搭配）-->
      <RewriterRule>
        <LookFor>~/dapei/show_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dapei_detail.aspx?id=$1</SendTo>
      </RewriterRule>

      <!--新网站（搭配、韩系、日系、欧美、精选、搭配指南）END-->


      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\猎头公司\\\\\\\\\\\\\\\\\\\\\\\\-->
      <!--目录程序，衣品搭配-->
      <RewriterRule>
        <LookFor>~/chuanyidapei</LookFor>
        <SendTo>~/chuanyidapei/list.htm</SendTo>
      </RewriterRule>

      <!--目录程序，衣品搭配-->
      <RewriterRule>
        <LookFor>~/chuanyidapei/</LookFor>
        <SendTo>~/chuanyidapei/list.htm</SendTo>
      </RewriterRule>
      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\猎头公司END\\\\\\\\\\\\\\\\\\\\\\\\-->



      <!--文章列表，最新资讯，淘宝链接中转页-->
      <RewriterRule>
        <LookFor>~/rfzdp_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/rfzdp.aspx?id=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/rfzdp/(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/rfzdp.aspx?id=$1</SendTo>
      </RewriterRule>


      <!--文章列表，最新资讯（店铺），分页（其它子级）-->
      <RewriterRule>
        <LookFor>~/(\w+)/(\w+)_(\d{1,}).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?prname=$1&amp;srname=$2&amp;page=$3</SendTo>
      </RewriterRule>

      <!--文章列表，最新资讯（店铺），导航（其它子级）-->
      <RewriterRule>
        <LookFor>~/(\w+)/(\w+).html</LookFor>
        <SendTo>~/Article/newarticle/dianpu.aspx?prname=$1&amp;srname=$2</SendTo>
      </RewriterRule>





      <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\最新资讯（店铺）重写地址END-->




    </Rules>
  </RewriterConfig>

  <system.web>

    <httpModules>

      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />

      <!--301重定向-->
      <!--<add name="MyHttpModule" type="ChangeDomain.MyHttpModule, ChangeDomain" />-->
    </httpModules>

    <!--<customErrors mode="Off" defaultRedirect="error.aspx"></customErrors>-->

    <!--跳转到404错误页面-->
    <!--<customErrors mode="On" defaultRedirect="/404">
      <error statusCode="404" redirect="/404" />
    </customErrors>-->

    <!--修改文件默认允许上传的大小-->
    <httpRuntime maxRequestLength="419407400" executionTimeout="3600" requestValidationMode="2.0" />

    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*.aspx" type="Base.IHandler,Base" />
    </httpHandlers>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>


  <appSettings>


    <!--被生成的静态页的文件夹名字-->
    <add key="html_folder_name" value="/chuanyidapei/" />
    
    
    <!--301重定向-->
    <!--<add key="WebDomain" value="xzhichang.com"/>
    <add key="URL301Location" value="www.xzhichang.com"/>-->

    <!--短信发送类型-->
    <!--<add key="Short_Message" value="zhiqingwangluo" />-->
    <add key="Short_Message" value="huayiwuxian" />

    <!--是否在做活动，更改value（0：否，1：是）值即可-->
    <add key="IsActive_Now" value="0" />

    <!--注册有礼，系统消息链接地址-->
    <add key="reg_get_url" value="http://www.91sport.cc/huodong/xzhichang.htm"/>

    <add key="XzcDAL" value="NewXzc.DAL" />
    <!--<add key="imgShowUrl" value="http://xzcimg01.d6315.com/"/>-->
    <!--<add key="imgShowUrl" value="http://192.168.1.3:88/"/>-->
    <add key="imgShowUrl" value="http://192.168.168.74:88/"/>
    <add key="imgUploadUrl" value="Z:\"/>
    <add key="HttpUrl" value="http://newxzc.by.com/"/>
    <add key="PubUserId" value="9"/>
    <!--1 记录动作 0不记录动作-->
    <add key="ActionRecord" value="1"/>

    <!--发送邮件的smtp地址-->
    <add key="email_smpt" value="message.xzhichang.com"/>
    <!--发件邮箱的地址-->
    <add key="email_name" value="service@message.xzhichang.com"/>
    <!--邮箱密码-->
    <add key="email_pwd" value="d6party"/>
    <!--邮件发送人/企业名称-->
    <add key="email_from" value="X职场"/>

  </appSettings>

</configuration>
